<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="directBookingEntry">
            <h2><span>Direct Booking Entry</span> {{ directBookingEntry.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Company</span></dt>
                <dd>
                    <span>{{ directBookingEntry.company }}</span>
                </dd>
                <dt><span>Division</span></dt>
                <dd>
                    <span>{{ directBookingEntry.division }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/direct-booking-entry', directBookingEntry.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
