<div class="card">
    <div class="body">
        <div align="center" class="centered" *ngIf="isDownload">
            <fa-icon [icon]="'sync-alt'" spin style="font-size: 100px;" class="fa fa-spin animated-active"></fa-icon>
        </div>
        <div>
            <h5 id="page-heading"><span>Conveyance Process</span></h5>
            <div class="row card-margin-bottom-10">
                <div class="col-md-3">
                    <select name="status" id="status" class="form-control custom-select custom-select-sm" [(ngModel)]="conveyanceSearchMaster.status" (change)="fetchControl()">
                        <option value="P">Pending</option>
                        <option value="A">Processed</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <ng-container *ngIf="conveyanceSearchMaster.status === 'A'">
                        <select name="controlNo" id="controlNo" class="form-control custom-select custom-select-sm" [(ngModel)]="controlNo">
                            <option [ngValue]="undefined">Choose Control No</option>
                            <option *ngFor="let master of masters;"[value]="master.id">{{master.desc}}</option>
                        </select>
                    </ng-container>
                </div>
                <div class="col-md-3">

                </div>
                <div class="col-md-3 text-right">
                    <div class="btn-group">
                        <button id="jh-search-entity" class="btn btn-sm btn-blush btn-round" type="button" style="margin: 0;" (click)="search()">
                            <fa-icon [icon]="'search'"></fa-icon>
                            <span >Search</span>
                        </button>&nbsp;
                        <ng-container *ngIf="conveyanceSearchMaster.status !== 'P'">
                            <button id="jh-report-entity" class="btn btn-sm btn-success btn-round" type="button" style="margin: 0;" (click)="download();">
                                <fa-icon [icon]="'download'"></fa-icon>
                                <span >Report</span>
                            </button>
                        </ng-container>&nbsp;
                        <ng-container *ngIf="conveyanceSearchMaster.status === 'P'">
                            <button id="jh-save-entity" class="btn btn-sm btn-success btn-round" type="button" style="margin: 0;" (click)="save()">
                                <fa-icon [icon]="'sync'"></fa-icon>
                                <span >Process for Payment</span>
                            </button>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-sm table-striped">
                    <thead>
                    <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                        <th><span>Sr.No</span></th>
                        <th jhiSortBy="empCode"><span>Emp Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                        <th jhiSortBy="name"><span>Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                        <th jhiSortBy="conveyanceDate"><span>Conveyance Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                        <th jhiSortBy="conveyanceType"><span>Conveyance Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                        <th jhiSortBy="vehicleNo"><span>Vehicle No</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                        <th jhiSortBy="totalDistance" class="text-right"><span>Total Distance</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                        <th jhiSortBy="rate" class="text-right"><span>Rate</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                        <th jhiSortBy="miscAmount" class="text-right"><span>Misc Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                        <th jhiSortBy="totalAmount" class="text-right"><span>Total Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                        <ng-container *ngIf="conveyanceSearchMaster.status === 'P'"><th><input type="checkbox" name="processFlowAll" id="field_processFlowAll" [(ngModel)]="processFlow" (click)="changeAllConveyance();"/><span>&nbsp;All</span></th></ng-container>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let conveyanceMaster of conveyanceMasters; let index = index ;trackBy: trackId">
                        <td>{{index+1}}</td>
                        <td>{{conveyanceMaster.empCode}}</td>
                        <td>{{conveyanceMaster.name}}</td>
                        <td>{{conveyanceMaster.conveyanceDate | date:'dd/MM/yyyy'}}</td>
                        <td><ng-container *ngIf="conveyanceMaster.conveyanceType=='O'">Own</ng-container></td>
                        <td>{{conveyanceMaster.vehicleNo}}</td>
                        <td class="text-right">
                            <ng-container *ngIf="conveyanceMaster.totalDistance<=200">{{conveyanceMaster.totalDistance}}</ng-container>
                            <ng-container *ngIf="conveyanceMaster.totalDistance>200"><span class="text-danger font-weight-bold">{{conveyanceMaster.totalDistance}}</span></ng-container>
                        </td>
                        <td class="text-right">{{conveyanceMaster.rate | number : '1.2-2'}}</td>
                        <td class="text-right">{{conveyanceMaster.miscAmount | number : '1.2-2'}}</td>
                        <td class="text-right">{{conveyanceMaster.totalAmount | number : '1.2-2'}}</td>
                        <ng-container *ngIf="conveyanceSearchMaster.status === 'P'">
                            <td class="button-column">
                            &nbsp;  <input type="checkbox" name="processFlow{{index}}" id="field_processFlow{{index}}" [(ngModel)]="conveyanceMaster.processFlow" (click)="changeConveyance(conveyanceMaster);"/>
                            </td>
                        </ng-container>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
