<div class="modal-header bg-blush" style="padding: 10px;">
    <h5 id="page-heading">
        <span>Work Centers</span>
    </h5>
    <button type="button" class="close" style="top: 10px;" data-dismiss="modal" aria-hidden="true" (click)="close()">&times;</button>
</div>
<div class="modal-body">
    <ng-container *ngIf="dataSource">
        <fusioncharts [width]="width" [height]="height" [type]="type" [dataFormat]="dataFormat" [dataSource]="dataSource">
        </fusioncharts>
    </ng-container>
</div>
