 <div class="card">
    <div class="body">
        <h5><span>Costing Efficiency Master</span> {{costingEfficiencyMaste.id}}</h5>
        <hr>
        <div class="row">
            <div class="col-8">
                <div *ngIf="costingEfficiencyMaste">
                    <div class="row">
                        <div class="col-md-3"><dt><span>From Quantity</span></dt></div>
                        <div class="col-md-9">
                            <dd>
                                <span>{{costingEfficiencyMaste.fromQuantity}}</span>
                            </dd>
                        </div>
                        <div class="col-md-3"><dt><span>To Quantity</span></dt></div>
                        <div class="col-md-9">
                            <dd>
                                <span>{{costingEfficiencyMaste.toQuantity}}</span>
                            </dd>
                        </div>
                        <div class="col-md-3"><dt><span>Efficiency %</span></dt></div>
                        <div class="col-md-9">
                            <dd>
                                <span>{{costingEfficiencyMaste.efficiencyPerc}}</span>
                            </dd>
                        </div>
                    </div>
                    <button type="submit"
                            (click)="previousState()"
                            class="btn btn-sm btn-info btn-round">
                        <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
                    </button>

                    <button type="button"
                            [routerLink]="['/costing-efficiency-maste', costingEfficiencyMaste.id, 'edit']"
                            class="btn btn-sm btn-blush btn-round">
                        <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
