<div class="card">
    <div class="body">
        <div class="policy">
            <h5 id="page-heading">
                <span>Forms</span>
            </h5>
            <jhi-alert></jhi-alert>
            <br/>
            <ngb-tabset *ngIf="formsDownloads" class="tabs-left" [orientation]="'vertical'">
                <ngb-tab [attr.id]="formsDownload.id" *ngFor="let formsDownload of formsDownloads ;trackBy: trackId" class="">
                    <ng-template ngbTabTitle>
                        <span (click)="changePage();">{{formsDownload.formName}}</span>
                    </ng-template>
                    <ng-template ngbTabContent>
                        <div clas="row">
                            <div class="col-md-12 text-right">
                                <button type="button" class="btn btn-blush" (click)="download(formsDownload);"><fa-icon [icon]="'download'"></fa-icon></button>
                            </div>
                        </div>
                        <pdf-viewer [src]="formsDownload.fileName" [render-text]="true" style="display: block;" [show-all]="false"
                                    [page]="page"
                                    (after-load-complete)="afterLoadComplete($event)"
                                    [zoom]="0.85"></pdf-viewer>
                        <div *ngIf="isLoaded" style="text-align: center;">
                            <button class="btn btn-round bg-blush" (click)="prevPage()" [disabled]="page === 1">Prev</button>
                            <span>{{ page }} / {{ totalPages }}</span>
                            <button class="btn btn-round bg-blush" (click)="nextPage()" [disabled]="page === totalPages">Next</button>
                        </div>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
    </div>
</div>
