<div class="card">
    <div class="body">
        <h5 id="jhi-employee-information-update-aprv-heading">Employee Information Approval</h5>
        <hr>
        <div class="row">
            <div class="col-12">
                <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
                    <div>
                        <div class="row card-margin-bottom-10">
                            <div class="col-md-12">
                                <ng-container *ngIf="employeeInformationUpdateAprv && employeeInformationUpdateAprv.flag==='C'"><span style="color: green; font-weight: bold; font-size: 20px;">Approved</span></ng-container>
                                <ng-container *ngIf="employeeInformationUpdateAprv && employeeInformationUpdateAprv.flag==='R'"><span style="color: red; font-weight: bold; font-size: 20px;">Rejected</span></ng-container>
                                <ng-container *ngIf="employeeInformationUpdateAprv && employeeInformationUpdateAprv.flag==='E'"><span style="color: yellow; font-weight: bold; font-size: 20px;">Pending</span></ng-container>
                            </div>
                        </div>
                        <div class="row card-margin-bottom-10" *ngIf="employeeInformationUpdateAprv && employeeInformationUpdateAprv.userCode">
                            <div class="col-md-12"><span class="font-bold">Name: </span> {{employeeInformationUpdateAprv.userCode.firstName}} {{employeeInformationUpdateAprv.userCode.lastName}} ({{employeeInformationUpdateAprv.userCode.login}})</div>
                        </div>
                        <div class="row card-margin-bottom-10">
                            <div class="col-md-6" style="border: 1px solid #FC9E4F;">
                                <div class="row card-margin-bottom-10" style="margin-top: 20px;">
                                    <div class="col-md-4">
                                        <label class="form-control-label" for="field_correspondenceAddress">Old Address</label>
                                    </div>
                                    <div class="col-md-8">
                                        <textarea class="form-control form-control-sm" name="oldCorrespondenceAddress" id="field_oldCorrespondenceAddress" [(ngModel)]="employeeInformationUpdateAprv.oldCorrespondenceAddress" maxlength="500" rows="4" cols="50" readonly></textarea>
                                    </div>
                                </div>
                                <div class="row card-margin-bottom-10">
                                    <div class="col-md-4">
                                        <label class="form-control-label" for="field_oldMobileNumber">Old Mobile No</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control form-control-sm" name="oldMobileNumber" id="field_oldMobileNumber" [(ngModel)]="employeeInformationUpdateAprv.oldMobileNumber" maxlength="15" readonly/>
                                    </div>
                                </div>
                                <div class="row crad-margin-bottom-10">
                                    <div class="col-md-4">
                                        <label class="form-control-label">Old Image</label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="image"><img src="{{employeeInformationUpdateAprv.oldImagePath}}" onerror="this.src='content/images/boy.png'" style="width:250px;height:250px" class="rounded-circle"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="border: 1px solid #FC9E4F; border-left: 0;">
                                <div class="row card-margin-bottom-10" style="margin-top: 20px;">
                                    <div class="col-md-4">
                                        <label class="form-control-label" for="field_correspondenceAddress">New Address</label>
                                    </div>
                                    <div class="col-md-8">
                                        <textarea class="form-control form-control-sm" name="correspondenceAddress" id="field_correspondenceAddress" [(ngModel)]="employeeInformationUpdateAprv.correspondenceAddress" maxlength="500" rows="4" cols="50" style="text-transform: uppercase;" readonly></textarea>
                                        <div [hidden]="!(editForm.controls.correspondenceAddress?.dirty && editForm.controls.correspondenceAddress?.invalid)">
                                            <small class="form-text text-danger"
                                                   [hidden]="!editForm.controls.correspondenceAddress?.errors?.maxlength">
                                                This field cannot be longer than 500 characters.
                                            </small>
                                        </div>
                                    </div>
                                </div>
                                <div class="row card-margin-bottom-10">
                                    <div class="col-md-4">
                                        <label class="form-control-label" for="field_mobileNumber">New Mobile No</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control form-control-sm" name="mobileNumber" id="field_mobileNumber" [(ngModel)]="employeeInformationUpdateAprv.mobileNumber" maxlength="15" readonly/>
                                        <div [hidden]="!(editForm.controls.mobileNumber?.dirty && editForm.controls.mobileNumber?.invalid)">
                                            <small class="form-text text-danger"
                                                   [hidden]="!editForm.controls.mobileNumber?.errors?.maxlength">
                                                This field cannot be longer than 15 characters.
                                            </small>
                                        </div>
                                    </div>
                                </div>
                                <div class="row card-margin-bottom-10">
                                    <div class="col-md-4">
                                        <label class="form-control-label">New Image</label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="image"><img src="{{employeeInformationUpdateAprv.imagePath}}" onerror="this.src='content/images/boy.png'" style="width:250px;height:250px" class="rounded-circle"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1">
                                <button type="button" id="cancel-save" class="btn btn-sm btn-secondary btn-round" (click)="previousState()">
                                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                                </button>
                            </div>
                            <div class="col-md-10 text-center">
                                <div class="btn-group">
                                    <button type="button" id="reject-entity" [disabled]="editForm.form.invalid || isSaving || employeeInformationUpdateAprv.flag !== 'E'" class="btn btn-sm btn-blush" (click)="reject();">
                                        <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Reject</span>
                                    </button>
                                    <button type="button" id="save-entity" [disabled]="editForm.form.invalid || isSaving || employeeInformationUpdateAprv.flag !== 'E'" class="btn btn-sm btn-success" (click)="approve();">
                                        <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Approve</span>
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-1">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<ng-snotify></ng-snotify>
