<div class="card">
        <div class="body">
            <div>
                <h5><span>Employee Information Approval</span></h5>
                <div class="row">
                    <div class="col-md-2">
                        <label class="form-control-label">Status</label>
                    </div>
                    <div class="col-md-2" *ngIf="leavesearch.leaveStatus && leavesearch.leaveStatus!=='P'">
                        <label class="form-control-label">Applied Date From</label>
                    </div>
                    <div class="col-md-2" *ngIf="leavesearch.leaveStatus && leavesearch.leaveStatus!=='P'">
                        <label class="form-control-label">Applied Date To</label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-control-label">Employee Code</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <select name="leaveStatus" id="leaveStatus" class="form-control custom-select custom-select-sm" [(ngModel)]="leavesearch.leaveStatus">
                            <option value="P">Pending</option>
                            <option value="A">Approved</option>
                            <option value="R">Rejected</option>
                        </select>
                    </div>
                    <div class="col-md-2" *ngIf="leavesearch.leaveStatus && leavesearch.leaveStatus!=='P'">
                        <div class="input-group input-group-sm">
                            <input [owlDateTime]="leaveFrom" name="leaveDateFrom" id="field_leaveDateFrom" placeholder="Date From" class="form-control form-control-sm" required [(ngModel)]="leaveDateFrom">
                            <div class="input-group-append input-group-append-top">
                                <div class="btn btn-blush" [owlDateTimeTrigger]="leaveFrom"><span><fa-icon [icon]="'calendar'"></fa-icon></span></div>
                            </div>
                        </div>
                        <owl-date-time [pickerType]="'calendar'" #leaveFrom></owl-date-time>
                    </div>
                    <div class="col-md-2" *ngIf="leavesearch.leaveStatus && leavesearch.leaveStatus!=='P'">
                        <div class="input-group input-group-sm">
                            <input [owlDateTime]="leaveTo" name="leaveDateTo" id="field_leaveDateTo" placeholder="Date To" class="form-control form-control-sm" required [(ngModel)]="leaveDateTo">
                            <div class="input-group-append input-group-append-top">
                                <div class="btn btn-blush" [owlDateTimeTrigger]="leaveTo"><span><fa-icon [icon]="'calendar'"></fa-icon></span></div>
                            </div>
                        </div>
                        <owl-date-time [pickerType]="'calendar'" #leaveTo></owl-date-time>
                    </div>
                    <div class="col-md-2"><input type="text" name="empCode" class="form-control form-control-sm" placeholder="Enter Employee Code" [(ngModel)]="leavesearch.empCode"/></div>
                    <div class="col-md-2">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-round btn-blush" style="margin-top: 0;" (click)="search()"><fa-icon [icon]="'search'"></fa-icon><span> Search</span></button>
                        </div>
                    </div>
                </div>
                <div class="table-responsive" *ngIf="employeeInformationUpdateAprvs">
                    <table class="table table-sm table-striped">
                        <thead>
                        <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                            <th><span>Card No</span></th>
                            <th><span>Name</span></th>
                            <th><span>Correspondence Address</span></th>
                            <th><span>Mobile Number</span></th>
                            <th><span>Status</span></th>
                        <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let employeeInformationUpdateAprv of employeeInformationUpdateAprvs ;trackBy: trackId">
                            <td>{{employeeInformationUpdateAprv.userCode.login}}</td>
                            <td>{{employeeInformationUpdateAprv.userCode.firstName + ' ' + employeeInformationUpdateAprv.userCode.lastName}}</td>
                            <td>{{employeeInformationUpdateAprv.correspondenceAddress}}</td>
                            <td>{{employeeInformationUpdateAprv.mobileNumber}}</td>
                            <td>
                                <ng-container *ngIf="employeeInformationUpdateAprv.flag==='E'">Pending</ng-container>
                                <ng-container *ngIf="employeeInformationUpdateAprv.flag==='C'">Approved</ng-container>
                                <ng-container *ngIf="employeeInformationUpdateAprv.flag==='R'">Rejected</ng-container>
                            </td>
                            <td class="text-right button-column">
                                <div class="btn-group">
                                    <button type="submit"
                                            [routerLink]="['/employee-information-approval', employeeInformationUpdateAprv.id, 'edit']"
                                            class="btn btn-info btn-sm">
                                        <fa-icon [icon]="'eye'"></fa-icon>
                                        <span class="d-none d-md-inline">View</span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div *ngIf="employeeInformationUpdateAprvs && employeeInformationUpdateAprvs.length">
                    <div class="row justify-content-center">
                        <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
                    </div>
                    <div class="row justify-content-center">
                        <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
