<div class="modal-header bg-blush" style="padding: 10px;">
    <h5 id="page-heading">
        <span>News Letter</span>
        <button aria-label="Close" class="close" style="top: 10px;" type="button" (click)="close()"> <span aria-hidden="true">×</span> </button>
    </h5>
</div>
<div class="modal-body">
    <div *ngIf="isLoaded" style="text-align: center;">
        <button class="btn btn-round bg-blush" (click)="prevPage()" [disabled]="page === 1">Prev</button>
        <span>{{ page }} / {{ totalPages }}</span>
        <button class="btn btn-round bg-blush" (click)="nextPage()" [disabled]="page === totalPages">Next</button>
    </div>
    <div class="row" *ngIf="fileUrl">
        <div class="col-md-12">
            <pdf-viewer
                [src]="fileUrl"
                [render-text]="true"
                style="display: block;"
                [show-all]="false"
                [page]="page"
                (after-load-complete)="afterLoadComplete($event)"
                [zoom]="0.8"
            ></pdf-viewer>
        </div>
    </div>
    <div *ngIf="isLoaded" style="text-align: center;">
        <button class="btn btn-round bg-blush" (click)="prevPage()" [disabled]="page === 1">Prev</button>
        <span>{{ page }} / {{ totalPages }}</span>
        <button class="btn btn-round bg-blush" (click)="nextPage()" [disabled]="page === totalPages">Next</button>
    </div>
</div>
