<div class="card">
        <div class="body">
        <div>
            <mat-tab-group *ngIf="jobProfilesGroup" [disableRipple]="true">
                <mat-tab *ngFor="let profileGroup of jobProfilesGroup;">
                    <ng-template mat-tab-label>
                        <span>{{profileGroup.department}}</span>
                    </ng-template>
                    <ng-template matTabContent>
                        <ngb-tabset *ngIf="profileGroup.jobProfiles" class="tabs-left" [orientation]="'vertical'" (tabChange)="changePage();">
                            <ngb-tab [attr.id]="jobProfile.id" *ngFor="let jobProfile of profileGroup.jobProfiles">
                                <ng-template ngbTabTitle>
                                    <span [class.text-bg]="jobProfile.activeProfile">{{jobProfile.designationDesc}}</span>
                                </ng-template>
                                <ng-template ngbTabContent>
                                    <pdf-viewer [src]="jobProfile.fileName" [render-text]="true" style="display: block;" [show-all]="false"
                                                [page]="page"
                                                (after-load-complete)="afterLoadComplete($event)"
                                                [zoom]="0.85"></pdf-viewer>
                                    <div *ngIf="isLoaded" style="text-align: center;">
                                        <button class="btn btn-round bg-blush" (click)="prevPage()" [disabled]="page === 1">Prev</button>
                                        <span>{{ page }} / {{ totalPages }}</span>
                                        <button class="btn btn-round bg-blush" (click)="nextPage()" [disabled]="page === totalPages">Next</button>
                                    </div>
                                </ng-template>
                            </ngb-tab>
                        </ngb-tabset>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>
