<div class="card">
    <div class="body">
        <h5><span>Costing Process Master</span> {{costingProcessMaster.id}}</h5>
        <hr>
        <div class="row">
            <div class="col-8">
                <div *ngIf="costingProcessMaster">
                    <div class="row">
                        <div class="col-md-3"><dt><span>Process Code</span></dt></div>
                        <div class="col-md-9">
                            <dd>
                                <span>{{costingProcessMaster.processcode}}</span>
                            </dd>
                        </div>
                        <div class="col-md-3"><dt><span>Process Desc</span></dt></div>
                        <div class="col-md-9">
                            <dd>
                                <span>{{costingProcessMaster.processdesc}}</span>
                            </dd>
                        </div>
                    </div>
                    <button type="submit"
                            (click)="previousState()"
                            class="btn btn-sm btn-info btn-round">
                        <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
                    </button>

                    <button type="button"
                             [routerLink]="['/costing-process-master', costingProcessMaster.id, 'edit']"
                            class="btn btn-sm btn-blush btn-round">
                        <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
