<form role="form">
    <div class="modal-header bg-blush" style="padding: 10px;">
        <h4 class="modal-title" id="modal-basic-title" style="margin-top: 0px;">Policies (Sort)</h4>
        <button style="top: 10px;" type="button" class="close" aria-label="Close" (click)="modal.dismissAll('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div style="font-size: 13px;">
            <div class="row">
                <div class="col-md-3">Policy Group</div>
                <div class="col-md-9">
                    <select class="form-control form-control-sm custom-select custom-select-sm" id="field_policiesGroup" name="policiesGroup" [(ngModel)]="policiesGroup" (change)="getPolicies();">
                        <option *ngFor="let policiesGroupOption of policiesgroups;" [value]="policiesGroupOption.id">{{policiesGroupOption.description}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <dd><label>Policies</label></dd>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="height:300px; overflow-x: hidden; overflow-y: auto; border: 1px solid #f2f2f2;">
                    <table class="table table-sm table-striped">
                    <tr *ngFor="let policy of policies; let index = index;">
                        <td>{{policy.policyName}}</td>
                        <td>
                            <ng-container *ngIf="index===0"><fa-icon [icon]="'arrow-down'" (click)="moveDown(policy, index);" style="cursor: pointer;"></fa-icon></ng-container>
                            <ng-container *ngIf="index===policies.length-1">&nbsp;&nbsp;&nbsp;&nbsp;<fa-icon [icon]="'arrow-up'" (click)="moveUp(policy, index);" style="cursor: pointer;"></fa-icon></ng-container>
                            <ng-container *ngIf="index!==0 && index !== policies.length-1"><fa-icon [icon]="'arrow-down'" (click)="moveDown(policy, index);" style="cursor: pointer;"></fa-icon>&nbsp;<fa-icon [icon]="'arrow-up'" (click)="moveUp(policy, index);" style="cursor: pointer;"></fa-icon></ng-container>
                        </td>
                    </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="col-12 text-right">
            <button type="button" (click)="save()" [disabled]="!policies" class="btn btn-blush btn-sm btn-round float-right"><fa-icon [icon]="'save'"></fa-icon> Save</button>
        </div>
    </div>
</form>
