<div align="center" class="centered" *ngIf="isDownload">
    <fa-icon [icon]="'sync-alt'" spin style="font-size: 100px;" class="fa fa-spin animated-active"></fa-icon>
</div>
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6">
                <h6 id="page-heading">
                    <span>Payment Request Approval</span>
                </h6>
            </div>
            <div class="col-md-6 text-right">
            </div>
        </div>
    </div>
    <div class="card-footer body py-2 bg-white">
        <div class="row">
            <div class="col-md-2">
                <select name="flag" id="field_flag" [(ngModel)]="search.flag" class="form-control form-control-xs custom-select custom-select-xs">
                    <option [value]="'E'">Pending</option>
                    <option [value]="'A'">Approved</option>
                    <option [value]="'R'">Rejected</option>
                </select>
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control form-control-xs" name="entryId" id="field_entryId" placeholder="Enter Request#" [(ngModel)]="search.id"/>
            </div>
            <div class="col-md-2">
                <div class="input-group mb-0">
                    <input type="text" class="form-control form-control-xs" [owlDateTime]="bookingdate" name="bookingdate" id="field_bookingdate" placeholder="Request From Date" [(ngModel)]="search.bookingDateFrom" readonly/>
                    <div class="input-group-append input-group-append-top">
                        <button type="button" class="btn btn-xs btn-blush"><fa-icon [icon]="'calendar'" [owlDateTimeTrigger]="bookingdate"></fa-icon></button>
                    </div>
                </div>
                <owl-date-time [pickerType]="'calendar'" #bookingdate></owl-date-time>
            </div>
            <div class="col-md-2">
                <div class="input-group mb-0">
                    <input type="text" class="form-control form-control-xs" [owlDateTime]="bookingdateTo" name="bookingdateTo" id="field_bookingdateTo" placeholder="Request To Date" [(ngModel)]="search.bookingDateTo" readonly/>
                    <div class="input-group-append input-group-append-top">
                        <button type="button" class="btn btn-xs btn-blush"><fa-icon [icon]="'calendar'" [owlDateTimeTrigger]="bookingdateTo"></fa-icon></button>
                    </div>
                </div>
                <owl-date-time [pickerType]="'calendar'" #bookingdateTo></owl-date-time>
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control form-control-xs" name="customersuppliercode" id="field_customersuppliercode" placeholder="Enter Supplier Code" [(ngModel)]="search.customersuppliercode"/>
            </div>
            <div class="col-md-1 text-right">
                <button class="btn btn-xs btn-round btn-success m-0" type="button" (click)="loadPage();">
                    <fa-icon [icon]="'search'"></fa-icon> <span>Search</span>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <input type="text" class="form-control form-control-xs" name="billno" id="field_billno" placeholder="Enter Invoice#" [(ngModel)]="search.billNo"/>
            </div>
            <div class="col-md-2">
                <div class="input-group mb-0">
                    <input type="text" class="form-control form-control-xs" [owlDateTime]="billDate" name="billdateTo" id="field_billdateTo" placeholder="Invoice Date" [(ngModel)]="search.billDate" readonly/>
                    <div class="input-group-append input-group-append-top">
                        <button type="button" class="btn btn-xs btn-blush"><fa-icon [icon]="'calendar'" [owlDateTimeTrigger]="billDate"></fa-icon></button>
                    </div>
                </div>
                <owl-date-time [pickerType]="'calendar'" #billDate></owl-date-time>
            </div>
            <div class="col-md-2">
                <select class="form-control form-control-xs custom-select custom-select-xs" name="company" id="field_company" [(ngModel)]="search.company" (change)="fetchDivision(); fetchBusinessUnit();">
                    <option [value]="'undefined'">Select Company</option>
                    <option [value]="companyOption.code" *ngFor="let companyOption of companies;">{{companyOption.code + '-' + companyOption.longdescription}}</option>
                </select>
            </div>
            <div class="col-md-2">
                <select class="form-control form-control-xs custom-select custom-select-xs" name="division" id="field_division" [(ngModel)]="search.division" >
                    <option [value]="'undefined'">Select Division</option>
                    <option [value]="divisionOption.id.code" *ngFor="let divisionOption of divisions;">{{divisionOption.id.code + '-' + divisionOption.longdescription}}</option>
                </select>
            </div>
            <div class="col-md-2">
                <select class="form-control form-control-xs custom-select custom-select-xs" name="businessunit" id="field_businessunit" [(ngModel)]="search.businessunit" >
                    <option [value]="'undefined'">Select Business Unit</option>
                    <option [value]="businessunitOption.id.code" *ngFor="let businessunitOption of finbusinessunits;">{{businessunitOption.id.code + '-' + businessunitOption.longdescription}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="card-body body py-0">
        <div class="table-responsive">
            <table class="table table-sm table-striped">
                <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th jhiSortBy="company"><span>Company</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="division"><span>Division</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="businessunitcode"><span>BusinessUnit</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="supplier"><span>Supplier Name</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="id"><span>Request No.</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="requestDate"><span>Request Date</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="poNo"><span>PO No.</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="poDate"><span>PO Date</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="invoiceNo"><span>Invoice No.</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="invoiceDate"><span>Invoice Date</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="paymentTerm"><span>Payment Term</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let paymentRequestForm of paymentRequestForms ;trackBy: trackId">
                    <td>{{paymentRequestForm.company}}</td>
                    <td>{{paymentRequestForm.division}}</td>
                    <td>{{paymentRequestForm.businessunitcode}}</td>
                    <td>{{paymentRequestForm.supplierName}}</td>
                    <td>{{paymentRequestForm.id}}</td>
                    <td>{{paymentRequestForm.requestDate | date: 'dd/MM/yyyy' }}</td>
                    <td>{{paymentRequestForm.poNo}}</td>
                    <td>{{paymentRequestForm.poDate | date: 'dd/MM/yyyy' }}</td>
                    <td>{{paymentRequestForm.invoiceNo}}</td>
                    <td>{{paymentRequestForm.invoiceDate | date: 'dd/MM/yyyy' }}</td>
                    <td>{{paymentRequestForm.paymenttermdesc}}</td>
                   <td class="text-right button-column">
                        <div class="btn-group">
                            <button type="submit" [routerLink]="['/payment-request-approval', paymentRequestForm.id, 'edit']" class="btn btn-xs btn-info  btn-sm">
                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="alert alert-warning" id="no-result" *ngIf="paymentRequestForms?.length === 0">
            <span>No data found</span>
        </div>
        <div *ngIf="paymentRequestForms?.length > 0">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>

            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage"
                                [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                                (pageChange)="loadPage($event)"></ngb-pagination>
            </div>
        </div>
    </div>
</div>
