<div class="card">
    <div class="body">
        <h5 id="jhi-vcut-style-image-heading">Style Image Upload</h5>
        <hr/>
        <div class="row">
            <div class="col-11">
                <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
                    <div>
                        <div class="row card-margin-bottom-10" [hidden]="!editForm.get('id').value">
                            <div class="col-md-2">
                                <label for="id">ID</label>
                            </div>
                            <div class="col-md-10">
                                <input type="text" class="form-control form-control-sm" id="id" name="id" formControlName="id" readonly />
                            </div>
                        </div>
                        <div class="row card-margin-bottom-10">
                            <div class="col-md-2">
                                <label class="form-control-label" for="field_style">Style</label>
                            </div>
                            <div class="col-md-10">
                                <input type="text" class="form-control form-control-sm text-uppercase" name="style" id="field_style" formControlName="style" [readonly]="editForm.get('id').value"/>
                                <div *ngIf="editForm.get('style').invalid && (editForm.get('style').dirty || editForm.get('style').touched)">
                                    <small class="form-text text-danger"  *ngIf="editForm.get('style').errors.required">
                                         This field is required.
                                    </small>
                                    <small class="form-text text-danger" *ngIf="editForm.get('style').errors.maxlength">
                                         This field cannot be longer than 100 characters.
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="row card-margin-bottom-10">
                            <div class="col-md-2">
                                <label class="form-control-label">Front Image</label>
                            </div>
                            <div class="col-md-4">
                                 <div class="avatar-upload">
                                    <div class="avatar-edit" style="border:1px solid #d4caca;">
                                        <div class="image"><img src="{{editForm.get('frontImage').value}}" onerror="this.src='content/images/no-image.png'" style="width:400px;height:345px;"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label class="form-control-label">Back Image</label>
                            </div>
                            <div class="col-md-4">
                                <div class="avatar-upload">
                                    <div class="avatar-edit" style="border:1px solid #d4caca;;">
                                        <div class="image"><img src="{{editForm.get('backImage').value}}" onerror="this.src='content/images/no-image.png'" style="width:400px;height:345px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row card-margin-bottom-10">
                            <div class="col-md-2"> </div>
                            <div class="col-md-4">
                                <div><input type="file" id="imageUrl1" name="imageUrl1" class="form-control form-control-sm" style="padding-top:1px; width:300px;" accept="image" (change)="uploadFrontImage($event)"/></div>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                                <div><input type="file" id="imageUrl2" name="imageUrl2" class="form-control form-control-sm" style="padding-top:1px; width:300px;" accept="image" (change)="uploadBackImage($event)"/></div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button type="button" id="cancel-save" class="btn btn-sm btn-secondary btn-round" (click)="previousState()">
                            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                        </button>
                        <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving || !frontImageFile || !backImageFile" class="btn btn-sm btn-blush btn-round">
                            <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                        </button>
                   </div>
                </form>
            </div>
        </div>
    </div>
</div>
