<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="vcutOperationIssueMaster">
            <h2><span>Vcut Operation Issue Master</span> {{vcutOperationIssueMaster.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{vcutOperationIssueMaster.description}}</span>
                </dd>
                <dt><span>Description Local</span></dt>
                <dd>
                    <span>{{vcutOperationIssueMaster.descriptionLocal}}</span>
                </dd>
                <dt><span>Type</span></dt>
                <dd>
                    <span>{{vcutOperationIssueMaster.type}}</span>
                </dd>
                <dt><span>Created By</span></dt>
                <dd>
                    <span>{{vcutOperationIssueMaster.createdBy}}</span>
                </dd>
                <dt><span>Created Date</span></dt>
                <dd>
                    <span>{{vcutOperationIssueMaster.createdDate}}</span>
                </dd>
                <dt><span>Last Updated By</span></dt>
                <dd>
                    <span>{{vcutOperationIssueMaster.lastUpdatedBy}}</span>
                </dd>
                <dt><span>Last Updated Date</span></dt>
                <dd>
                    <span>{{vcutOperationIssueMaster.lastUpdatedDate}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/vcut-operation-issue-master', vcutOperationIssueMaster.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
