<div class="card">
    <div class="body">
        <div>
            <h5 id="page-heading">
                <span>Operation Issue Masters</span>
                <button id="jh-create-entity"
                    class="btn btn-sm btn-blush btn-round float-right jh-create-entity create-vcut-operation-issue-master"
                    [routerLink]="['/vcut-operation-issue-master/new']">
                    <fa-icon [icon]="'plus'"></fa-icon>
                    <span>
                        New
                    </span>
                </button>
            </h5>
            <br />
            <div class="table-responsive" *ngIf="vcutOperationIssueMasters?.length > 0">
                <table class="table table-sm table-striped" aria-describedby="page-heading">
                    <thead>
                        <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse"
                            [callback]="transition.bind(this)">
                            <th jhiSortBy="id"><span>ID</span>
                                <fa-icon [icon]="'sort'"></fa-icon>
                            </th>
                            <th jhiSortBy="description"><span>Description</span>
                                <fa-icon [icon]="'sort'"></fa-icon>
                            </th>
                            <th jhiSortBy="descriptionLocal"><span>Description Local</span>
                                <fa-icon [icon]="'sort'"></fa-icon>
                            </th>
                            <th jhiSortBy="type"><span>Type</span>
                                <fa-icon [icon]="'sort'"></fa-icon>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let vcutOperationIssueMaster of vcutOperationIssueMasters ;trackBy: trackId">
                            <td><a
                                    [routerLink]="['/vcut-operation-issue-master', vcutOperationIssueMaster.id, 'view' ]">{{vcutOperationIssueMaster.id}}</a>
                            </td>
                            <td>{{vcutOperationIssueMaster.description}}</td>
                            <td>{{vcutOperationIssueMaster.descriptionLocal}}</td>
                            <td>{{vcutOperationIssueMaster.type}}</td>
                            <td class="text-right button-column">
                                <div class="btn-group">
                                    <button type="submit"
                                        [routerLink]="['/vcut-operation-issue-master', vcutOperationIssueMaster.id, 'edit']"
                                        class="btn btn-blush btn-sm">
                                        <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                        <span class="d-none d-md-inline">Edit</span>
                                    </button>
                                    <button type="submit"
                                        [routerLink]="['/vcut-operation-issue-master', { outlets: { popup: vcutOperationIssueMaster.id + '/delete'} }]"
                                        replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm">
                                        <fa-icon [icon]="'times'"></fa-icon>
                                        <span class="d-none d-md-inline">Delete</span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div [hidden]="vcutOperationIssueMasters?.length === 0">
                <div class="row justify-content-center">
                    <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
                </div>
                <div class="row justify-content-center">
                    <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage"
                        [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)">
                    </ngb-pagination>
                </div>
            </div>
        </div>
    </div>
</div>
