<div class="card">
    <div class="body">
        <h5 id="jhi-department-master-heading">Create or edit a Department Master</h5>
        <hr/>
        <div class="row">
            <div class="col-8">
                <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
                    <div>
                        <div class="row card-margin-bottom-10" [hidden]="!departmentMaster.id">
                            <div class="col-md-3"><label for="id">ID</label></div>
                            <div class="col-md-9"> <input type="text" class="form-control" id="id" name="id" [(ngModel)]="departmentMaster.id" readonly /></div>
                        </div>
                        <div class="row card-margin-bottom-10">
                            <div class="col-md-3"><label class="form-control-label" for="field_deptCode">Dept Code</label></div>
                            <div class="col-md-9">
                                <input type="text" class="form-control form-control-sm" name="deptCode" id="field_deptCode" [(ngModel)]="departmentMaster.deptCode" maxlength="15" required/>
                                <div [hidden]="!(editForm.controls.deptCode?.dirty && editForm.controls.deptCode?.invalid)">
                                    <small class="form-text text-danger" [hidden]="!editForm.controls.deptCode?.errors?.maxlength">
                                        This field cannot be longer than 15 characters.
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="row card-margin-bottom-10">
                            <div class="col-md-3"><label class="form-control-label" for="field_deptDesc">Dept Desc</label></div>
                            <div class="col-md-9">
                                <input type="text" class="form-control form-control-sm" name="deptDesc" id="field_deptDesc" [(ngModel)]="departmentMaster.deptDesc" maxlength="200" required/>
                                <div [hidden]="!(editForm.controls.deptDesc?.dirty && editForm.controls.deptDesc?.invalid)">
                                    <small class="form-text text-danger" [hidden]="!editForm.controls.deptDesc?.errors?.maxlength">
                                        This field cannot be longer than 200 characters.
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="row card-margin-bottom-10">
                            <div class="col-md-3">
                                <label class="form-control-label" for="field_status">Status</label>
                            </div>
                            <div class="col-md-9">
                                <select type="text" class="form-control form-control-sm custom-select custom-select-sm" name="status" id="field_status" [(ngModel)]="departmentMaster.status" required maxlength="1">
                                    <option value="Y">Active</option>
                                    <option value="N">Inactive</option>
                                </select>
                                <div [hidden]="!(editForm.controls.status?.dirty && editForm.controls.status?.invalid)">
                                    <small class="form-text text-danger"
                                           [hidden]="!editForm.controls.status?.errors?.required">
                                        This field is required.
                                    </small>
                                    <small class="form-text text-danger"
                                           [hidden]="!editForm.controls.status?.errors?.maxlength">
                                        This field cannot be longer than 1 characters.
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button type="button" id="cancel-save" class="btn btn-sm btn-secondary btn-round"  (click)="previousState()">
                            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                        </button>
                        <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-sm btn-blush btn-round">
                            <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
