<div class="card">
    <div class="card-header">
        <h6 id="page-heading">
            <span>Script  Details</span>
        </h6>
    </div>
    <div class="card-footer body py-2 bg-white">
        <div class="row">
            <div class="col-md-2">
                <div class="input-group">
                    <input [owlDateTime]="dateFrom" name="scriptDateFrom" id="field_scriptDateFrom" placeholder="Date From" class="form-control form-control-xs" required [(ngModel)]="scriptDateFrom">
                    <div class="input-group-append input-group-append-top">
                        <div class="btn btn-xs btn-blush" [owlDateTimeTrigger]="dateFrom"><span><fa-icon [icon]="'calendar'"></fa-icon></span></div>
                    </div>
                </div>
                <owl-date-time [pickerType]="'calendar'" #dateFrom></owl-date-time>
            </div>
            <div class="col-md-2">
                <div class="input-group">
                    <input [owlDateTime]="dateTo" name="scriptDateTo" id="field_scriptDateTo" placeholder="Date To" class="form-control form-control-xs" required [(ngModel)]="scriptDateTo">
                    <div class="input-group-append input-group-append-top">
                        <div class="btn btn-xs btn-blush" [owlDateTimeTrigger]="dateTo"><span><fa-icon [icon]="'calendar'"></fa-icon></span></div>
                    </div>
                </div>
                <owl-date-time [pickerType]="'calendar'" #dateTo></owl-date-time>
            </div>
            <div class="col-md-2">
                <input class="form-control form-control-xs" name="sNo" id="field_sNo" placeholder="sNo" type="text" [(ngModel)]="search.sNo" />
            </div>
            <div class="col-md-6 text-right">
                <button class="btn btn-xs btn-info btn-round btn-round" style="margin-top: 0;" type="button" (click)="loadPage();">
                    <fa-icon [icon]="'search'"></fa-icon>
                    <span>Search</span>
                </button>
                <button id="jh-excel-entity" class="btn btn-xs btn-blush btn-round jh-create-entity create-doc-file-upload" style="margin-top:0;" [routerLink]="['/script-uploads/upload']">
                    <fa-icon [icon]="'upload'"></fa-icon>
                    <span >Upload From Excel</span>
                </button>
            </div>
        </div>
    </div>
    <div class="card-body body p-0">
        <div class="table-responsive">
            <table class="table table-sm table-striped">
                <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th jhiSortBy="id"><span>SrNo.</span><fa-icon [icon]="'sort'"></fa-icon></th>
                    <th jhiSortBy="shippingBillNo"><span>Ship Bill No</span><fa-icon [icon]="'sort'"></fa-icon></th>
                    <th jhiSortBy="invoiceNo"><span>Invoice No</span><fa-icon [icon]="'sort'"></fa-icon></th>
                    <th jhiSortBy="shippingBillDate"><span>Ship Bill Date</span><fa-icon [icon]="'sort'"></fa-icon></th>
                    <th jhiSortBy="scrollNo"><span>Scroll No</span><fa-icon [icon]="'sort'"></fa-icon></th>
                    <th jhiSortBy="portCode"><span>Port</span><fa-icon [icon]="'sort'"></fa-icon></th>
                    <th class="text-right" jhiSortBy="sanctionedValue"><span>Sanctioned Value</span><fa-icon [icon]="'sort'"></fa-icon></th>
                    <th jhiSortBy="scriptNo"><span>Script No</span><fa-icon [icon]="'sort'"></fa-icon></th>
                    <th jhiSortBy="entryDate"><span>Date</span><fa-icon [icon]="'sort'"></fa-icon></th>
                    <th class="text-right" jhiSortBy="scriptAmount"><span>Script Am</span><fa-icon [icon]="'sort'"></fa-icon></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let scriptDetailsUpload of scriptDetailsUploads ;trackBy: trackId">
                    <td>{{scriptDetailsUpload.id}}</td>
                    <td>{{scriptDetailsUpload.shippingBillNo }}</td>
                    <td>{{scriptDetailsUpload.invoiceNo}}</td>
                    <td>{{scriptDetailsUpload.shippingBillDate | date : 'dd-MM-yyyy'}}</td>
                    <td>{{scriptDetailsUpload.scrollNo}}</td>
                    <td>{{scriptDetailsUpload.portCode}}</td>
                    <td class="text-right">{{scriptDetailsUpload.sanctionedValue | number: '1.2-2'}}</td>
                    <td>{{scriptDetailsUpload.scriptNo}}</td>
                    <td>{{scriptDetailsUpload.entryDate | date: 'dd-MM-yyyy'}}</td>
                    <td class="text-right">{{scriptDetailsUpload.scriptAmount | number: '1.2-2'}}</td>
                    <td class="text-right button-column">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/script-uploads',scriptDetailsUpload.id,'edit']"
                                    class="btn btn-blush btn-xs">
                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="alert alert-warning" id="no-result" *ngIf="scriptDetailsUploads?.length === 0">
            <span>No data found</span>
        </div>
        <div class="bankRealizationCertificatUploads?.length>0">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage"
                                [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)">
                </ngb-pagination>
            </div>
        </div>
    </div>
</div>
