<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="vcutDeviceLineMaster">
            <h2><span>Vcut Device Line Master</span> {{vcutDeviceLineMaster.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Line</span></dt>
                <dd>
                    <span>{{vcutDeviceLineMaster.line}}</span>
                </dd>
                <dt><span>Device Id</span></dt>
                <dd>
                    <span>{{vcutDeviceLineMaster.deviceId}}</span>
                </dd>
                <dt><span>Created By</span></dt>
                <dd>
                    <span>{{vcutDeviceLineMaster.createdBy}}</span>
                </dd>
                <dt><span>Created Date</span></dt>
                <dd>
                    <span>{{vcutDeviceLineMaster.createdDate}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/vcut-device-line-master', vcutDeviceLineMaster.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
