<div class="card">
    <div class="body">
        <div>
            <h5 id="page-heading">
                <span>Device User Link</span>
                <button id="jh-create-entity"
                    class="btn btn-sm btn-blush btn-round float-right jh-create-entity create-vcut-device-line-master"
                    [routerLink]="['/vcut-device-line-master/new']">
                    <fa-icon [icon]="'plus'"></fa-icon>
                    <span>
                        New
                    </span>
                </button>
            </h5>
            <jhi-alert></jhi-alert>
            <br/>
            <div class="table-responsive" *ngIf="vcutDeviceLineMasters?.length > 0">
                <table class="table table-sm table-striped" aria-describedby="page-heading">
                    <thead>
                    <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                    <th jhiSortBy="line"><span>Line</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                    <th jhiSortBy="deviceId"><span>Device Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                    <th jhiSortBy="createdBy"><span>Created By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                    <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let vcutDeviceLineMaster of vcutDeviceLineMasters ;trackBy: trackId">
                        <td><a [routerLink]="['/vcut-device-line-master', vcutDeviceLineMaster.id, 'view' ]">{{vcutDeviceLineMaster.id}}</a></td>
                        <td>{{vcutDeviceLineMaster.line}}</td>
                        <td>{{vcutDeviceLineMaster.deviceId}}</td>
                        <td>{{vcutDeviceLineMaster.createdBy}}</td>
                        <td class="text-right button-column">
                            <div class="btn-group">
                                <button type="submit"
                                        [routerLink]="['/vcut-device-line-master', vcutDeviceLineMaster.id, 'edit']"
                                        class="btn btn-blush btn-sm">
                                    <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                    <span class="d-none d-md-inline">Edit</span>
                                </button>
                                <button type="submit"
                                        [routerLink]="['/vcut-device-line-master', { outlets: { popup: vcutDeviceLineMaster.id + '/delete'} }]"
                                        replaceUrl="true"
                                        queryParamsHandling="merge"
                                        class="btn btn-danger btn-sm">
                                    <fa-icon [icon]="'times'"></fa-icon>
                                    <span class="d-none d-md-inline">Delete</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div [hidden]="vcutDeviceLineMasters?.length === 0">
                <div class="row justify-content-center">
                    <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
                </div>
                <div class="row justify-content-center">
                    <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
                </div>
            </div>
        </div>
    </div>
</div>
