<div class="card">
    <div class="body">
        <div *ngIf="previousEmploymentDetails">
            <h5><span>Previous Employment Details</span></h5>
            <hr>
            <div class="row">
                <div class="col-8">
                    <div class="row">
                        <div class="col-md-4">
                            <dt><span>Finance Year</span></dt>
                        </div>
                        <div class="col-md-8">
                            <dd>
                                <span>{{previousEmploymentDetails.financeYear}}</span>
                            </dd>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <dt><span>Card No</span></dt>
                        </div>
                        <div class="col-md-8">
                            <dd>
                                <span>{{previousEmploymentDetails.cardNo}}</span>
                            </dd>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <dt><span>Date From</span></dt>
                        </div>
                        <div class="col-md-8">
                            <dd>
                                <span>{{previousEmploymentDetails.dateFrom}}</span>
                            </dd>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <dt><span>Date To</span></dt>
                        </div>
                        <div class="col-md-8">
                            <dd>
                                <span>{{previousEmploymentDetails.dateTo}}</span>
                            </dd>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <dt><span>Previous Employer</span></dt>
                        </div>
                        <div class="col-md-8">
                            <dd>
                                <span>{{previousEmploymentDetails.previousEmployer}}</span>
                            </dd>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <dt><span>Land Lord Name</span></dt>
                        </div>
                        <div class="col-md-8">
                            <dd>
                                <span>{{previousEmploymentDetails.landLordName}}</span>
                            </dd>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <dt><span>Land Lord Pan</span></dt>
                        </div>
                        <div class="col-md-8">
                            <dd>
                                <span>{{previousEmploymentDetails.landLordPan}}</span>
                            </dd>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <dt><span>Land Lord Address</span></dt>
                        </div>
                        <div class="col-md-8">
                            <dd>
                                <span>{{previousEmploymentDetails.landLordAddress}}</span>
                            </dd>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <dt><span>Monthly Rent</span></dt>
                        </div>
                        <div class="col-md-8">
                            <dd>
                                <span>{{previousEmploymentDetails.monthRent}}</span>
                            </dd>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"> 
                            <dt><span>Basic</span></dt>
                        </div>
                        <div class="col-md-8">
                            <dd>
                                <span>{{previousEmploymentDetails.basic}}</span>
                            </dd>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <dt><span>House Rent Allowance</span></dt>
                        </div>
                        <div class="col-md-8">
                            <dd>
                                <span>{{previousEmploymentDetails.hra}}</span>
                            </dd>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <dt><span>Others</span></dt>
                        </div>
                        <div class="col-md-8">
                            <dd>
                                <span>{{previousEmploymentDetails.others}}</span>
                            </dd>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <dt><span>Conveyance/Transport Allowance</span></dt>
                        </div>
                        <div class="col-md-8">
                            <dd>
                                <span>{{previousEmploymentDetails.cta}}</span>
                            </dd>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <dt><span>Special Allowance</span></dt>
                        </div>
                        <div class="col-md-8">
                            <dd>
                                <span>{{previousEmploymentDetails.spa}}</span>
                            </dd>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <dt><span> Medical Allowance</span></dt>
                        </div>
                        <div class="col-md-8">
                            <dd>
                                <span>{{previousEmploymentDetails.mda}}</span>
                            </dd>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <dt><span>Eemployee PF</span></dt>
                        </div>
                        <div class="col-md-8">
                            <dd>
                                <span>{{previousEmploymentDetails.epf}}</span>
                            </dd>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <dt><span>Voluntary PF</span></dt>
                        </div>
                        <div class="col-md-8">
                            <dd>
                                <span>{{previousEmploymentDetails.vpf}}</span>
                            </dd>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <dt><span>TDS</span></dt>
                        </div>
                        <div class="col-md-8">
                            <dd>
                                <span>{{previousEmploymentDetails.tds}}</span>
                            </dd>
                        </div>
                    </div>
                    <button type="submit" (click)="previousState()" class="btn btn-info btn-sm">
                        <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
                    </button>

                    <button type="button"
                        [routerLink]="['/previous-employment-details', previousEmploymentDetails.id, 'edit']"
                        class="btn btn-primary btn-sm">
                        <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>