<div class="card">
    <div class="body">
            <div>
                <h5 id="page-heading"><span>Costing Fabric Item Details</span></h5>
                 <div class="row">
                    <div class="col-md-2">
                        <input class="form-control form-control-sm text-uppercase ng-valid ng-dirty ng-touched" name="processcode" id="field_processcode" placeholder="Item Type" type="text" [(ngModel)]="search.processcode" [ngModelOptions]="{standalone: true}"/>
                    </div>
                    <div class="col-md-2">
                        <input class="form-control form-control-sm text-uppercase ng-valid ng-dirty ng-touched" name="processdesc" id="field_processdesc" placeholder="Code" type="text" [(ngModel)]="search.processdesc" [ngModelOptions]="{standalone: true}"/>
                    </div>
                    <div class="col-md-8 text-right">
                        <button id="jh-search-entity" class="btn btn-sm btn-info btn-round" type="button" style="margin: 0;" (click)="filter()">
                            <fa-icon [icon]="'search'"></fa-icon>
                            <span >Search</span>
                        </button>
                        <button id="jh-create-entity" class="btn btn-sm btn-blush btn-round jh-create-entity create-costing-fabric-item-details" [routerLink]="['/costing-fabric-item-details/new']">
                            <fa-icon [icon]="'plus'"></fa-icon>
                            <span>new</span>
                        </button>
                    </div>
                </div>
                 <jhi-alert></jhi-alert>
                 <div class="table-responsive">
                        <table class="table table-sm table-striped">
                            <thead>
                                 <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                                    <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                                    <th jhiSortBy="itemType"><span>Item Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                                    <th jhiSortBy="code"><span>Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                                    <th jhiSortBy="descrption"><span>Descrption</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                                    <th></th>
                                  </tr>
                                </thead>
                            <tbody>
                                <tr *ngFor="let costingFabricItemDetails of costingFabricItemDetails ;trackBy: trackId">
                                    <td><a [routerLink]="['/costing-fabric-item-details', costingFabricItemDetails.id, 'view' ]">{{costingFabricItemDetails.id}}</a></td>
                                    <td>{{costingFabricItemDetails.itemType}}</td>
                                    <td>{{costingFabricItemDetails.code}}</td>
                                    <td>{{costingFabricItemDetails.descrption}}</td>
                                   <td class="text-right button-column">
                                    <div class="btn-group">
                                        <button type="submit"
                                               [routerLink]="['/costing-fabric-item-details', costingFabricItemDetails.id, 'view' ]"
                                                class="btn btn-info btn-sm">
                                                <fa-icon [icon]="'eye'"></fa-icon>
                                                <span class="d-none d-md-inline">View</span>
                                        </button>
                                        <button type="submit"
                                               [routerLink]="['/costing-fabric-item-details', costingFabricItemDetails.id, 'edit']"
                                                class="btn btn-blush btn-sm">
                                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                            <span class="d-none d-md-inline">Edit</span>
                                        </button>
                                        <button type="submit"
                                                [routerLink]="['/costing-fabric-item-details', { outlets: { popup: costingFabricItemDetails.id + '/delete'} }]"
                                                replaceUrl="true"
                                                queryParamsHandling="merge"
                                                class="btn btn-danger btn-sm">
                                            <fa-icon [icon]="'times'"></fa-icon>
                                            <span class="d-none d-md-inline">Delete</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div [hidden]="costingFabricItemDetails?.length === 0">
                        <div class="row justify-content-center">
                            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
                        </div>
                        <div class="row justify-content-center">
                            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
                        </div>
                    </div>
            </div>
    </div>
</div>
