<div class="modal-header x-window-header-default-top x-window-header-default x-panel-body-default" style="padding: 5px;">
    <div class="x-title-text x-title-text-default x-title-item">
        <img src="../../../content/images/now/grid.png"/>&nbsp;&nbsp;Report Dialog</div>
    <img src="../../../content/images/now/close4.png"  (click)="cancel()" style="cursor: pointer"/>
</div>

<div class="modal-body bg-light p-0">
    <div class="row">
        <div class="col-md-12">
            <ngx-extended-pdf-viewer [src]="urlSafe" [useBrowserLocale]="true" height="80vh"></ngx-extended-pdf-viewer>
        </div>
    </div>
</div>
