<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="buyerCosting">
            <h2><span>Buyer Costing</span> {{buyerCosting.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Order Qty</span></dt>
                <dd>
                    <span>{{buyerCosting.orderQty}}</span>
                </dd>
                <dt><span>Smv</span></dt>
                <dd>
                    <span>{{buyerCosting.smv}}</span>
                </dd>
                <dt><span>Sub Total</span></dt>
                <dd>
                    <span>{{buyerCosting.subTotal}}</span>
                </dd>
                <dt><span>Margin</span></dt>
                <dd>
                    <span>{{buyerCosting.margin}}</span>
                </dd>
                <dt><span>Selling Price 1</span></dt>
                <dd>
                    <span>{{buyerCosting.sellingPrice1}}</span>
                </dd>
                <dt><span>Selling Price 2</span></dt>
                <dd>
                    <span>{{buyerCosting.sellingPrice2}}</span>
                </dd>
                <dt><span>Wastage</span></dt>
                <dd>
                    <span>{{buyerCosting.wastage}}</span>
                </dd>
                <dt><span>Currency</span></dt>
                <dd>
                    <span>{{buyerCosting.currency}}</span>
                </dd>
                <dt><span>Conv Rate</span></dt>
                <dd>
                    <span>{{buyerCosting.convRate}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/buyer-costing', buyerCosting.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
