<div class="card">
    <div class="body">
        <div>
            <h5 id="page-heading">
                <span>Style Operation Bulletin</span>
            </h5>
            <div class="row">
                <div class="col-md-3">
                    <input class="form-control form-control-sm  ng-valid ng-dirty ng-touched" name="style" id="field_ctyle" placeholder="Style" type="text" [(ngModel)]="vcutStylePlanUploadSearch.style" />
                </div>
                <div class="col-md-3">
                    <input class="form-control form-control-sm  ng-valid ng-dirty ng-touched" name="poNo" id="field_poNo" placeholder="Item" type="text" [(ngModel)]="vcutStylePlanUploadSearch.poNo" />
                </div>
                <div class="col-md-6 text-right">
                    <button id="jh-search-entity" class="btn btn-sm btn-info btn-round" type="button" style="margin: 0;"  (click)="search();">
                        <fa-icon [icon]="'search'"></fa-icon>
                        <span >Search</span>
                    </button>
                    <button id="jh-create-entity" class="btn btn-sm btn-blush btn-round" style="margin: 0;" [routerLink]="['/vcut-operation-master/new']">
                        <fa-icon [icon]="'plus'"></fa-icon>
                        <span >New</span>
                    </button>
                    <button id="jh-excel-entity" class="btn btn-sm btn-info btn-round" style="margin: 0;" [routerLink]="['/vcut-operation-master/upload']">
                        <fa-icon [icon]="'upload'"></fa-icon>
                        <span >Upload From Excel</span>
                    </button>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-sm table-striped" aria-describedby="page-heading">
                    <thead>
                    <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                        <th jhiSortBy="style"><span>Style</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                        <th jhiSortBy="itemName"><span>Item Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let vcutOperationMaster of vcutOperationMasters ;trackBy: trackId">
                        <td>{{vcutOperationMaster.style}}</td>
                        <td>{{vcutOperationMaster.itemName}}</td>
                        <td class="text-right button-column">
                            <div class="btn-group">
                                <button type="submit" [routerLink]="['/vcut-operation-master', vcutOperationMaster.style, 'edit']" class="btn btn-blush btn-sm">
                                    <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                    <span class="d-none d-md-inline">Edit</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div [hidden]="vcutOperationMasters?.length === 0">
                <div class="row justify-content-center">
                    <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
                </div>
                <div class="row justify-content-center">
                    <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
                </div>
            </div>
        </div>
    </div>
</div>

