<div class="card">
    <div class="body">
        <div align="center" class="centered" *ngIf="isWait">
            <fa-icon [icon]="'sync-alt'" spin style="font-size: 100px;" class="fa fa-spin animated-active"></fa-icon>
        </div>
        <h5 id="jhi-vcut-style-plan-upload-heading">Operation Upload</h5>
        <hr/>
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm" enctype="multipart/form-data">
            <div class="uploadfilecontainer" (click)="fileInput.click()" jhiAppDragDropOper (onFileDropped)="uploadFile($event)">
                <input hidden type="file" #fileInput (change)="uploadFile($event.target.files)">
            </div>
            <div class="row" style="margin-top: -80px; position: relative;">
                <div class="col-md-12 text-center">
                    <h1>Drop File to upload or click</h1>
                </div>
            </div>
            <div  class="files-list" *ngFor="let file of files;let i=index">
                <p>{{ file }}</p>
                <button class="delete-file" (click)="deleteAttachment(i)">
                    <fa-icon [icon]="'trash-alt'"></fa-icon>
                </button>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="button" id="cancel-save" class="btn btn-sm btn-secondary btn-round"  (click)="previousState()">
                        <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                    </button>
                    <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-sm btn-blush btn-round">
                        <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<ng-snotify></ng-snotify>
