<div class="modal-header bg-blush" style="padding: 10px;">
    <h5 class="modal-title" id="modal-basic-title" style="margin-top: 0px;">Upload Document "<span *ngIf="orderpartnerDocument">{{orderpartnerDocument.customersuppliercode + '-' + orderpartnerDocument.legalname1}}</span>"</h5>
    <button style="top: 10px;" type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body bg-white">
    <div class="row mb-1">
        <div class="col-md-2">
            <label>Document Type</label>
        </div>
        <div class="col-md-8">
            <select class="form-control form-control-sm custom-select custom-select-sm" name="documentType" id="field_documentType" [(ngModel)]="documentType">
                <option value="BANK_DETAILS">BANK_DETAILS</option>
                <option value="GST_CERTIFICATE">GST_CERTIFICATE</option>
                <option value="PAN_NUMBER">PAN_NUMBER</option>
                <option value="MSME_NUMBER">MSME_NUMBER</option>
                <option value="OTHERS">OTHERS</option>
            </select>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-md-2">
            <label>Attach File</label>
        </div>
        <div class="col-md-8">
            <input type="file" class="form-control form-control-sm custom-file custom-file-sm" id="field_file" #fileInput (change)="uploadFile($event)"/>
        </div>
    </div>
    <div class="row no-gutters clearfix">
        <div class="col-md-12 pr-1">
            <div class="card card-margin-bottom-10" style="height:310px; background-color: rgba(0, 0, 0, 0.03);">
                <table class="table table-sm table-striped">
                    <tbody>
                    <tr *ngFor="let file of files;let i=index">
                        <td>{{file}}</td>
                        <td class="text-right button-column">
                        <td class="button-column">
                            <fa-icon (click)="deleteAttachment(i)" [icon]="'trash-alt'" style="cursor: pointer;" class="text-danger"></fa-icon>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="text-center">
                <button type="submit" id="attach-button" class="btn btn-sm btn-round btn-info" [disabled]="files?.length === 0 || selectedFiles?.length === 0" (click)="save();">
                    <fa-icon [icon]="'paperclip'"></fa-icon>&nbsp;<span>Upload</span>
                </button>
            </div>
        </div>
    </div>
</div>
<ng-snotify></ng-snotify>
