<div class="card">
    <div class="body">
        <h5 id="jhi-fabric-others-master-heading">Create or edit a Fabric Others Master</h5>
        <hr/>
        <div class="row">
            <div class="col-8">
                <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
                    <div>
                        <div class="row card-margin-bottom-10" [hidden]="!editForm.get('id').value">
                            <div class="col-md-3">
                                <label for="id">ID</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" class="form-control form-control-sm" id="id" name="id" formControlName="id" readonly />
                            </div>
                        </div>
                        <div class="row card-margin-bottom-10">
                            <div class="col-md-3">
                                <label class="form-control-label" for="field_code">Code</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" class="form-control form-control-sm" name="code" id="field_code" formControlName="code"/>
                                <div *ngIf="editForm.get('code').invalid && (editForm.get('code').dirty || editForm.get('code').touched)">
                                    <small class="form-text text-danger"  *ngIf="editForm.get('code').errors.required">
                                        This field is required.
                                    </small>
                                    <small class="form-text text-danger" *ngIf="editForm.get('code').errors.maxlength">
                                        This field cannot be longer than 15 characters.
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="row card-margin-bottom-10">
                            <div class="col-md-3">
                                <label class="form-control-label" for="field_description">Description</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" class="form-control form-control-sm" name="description" id="field_description"formControlName="description"/>
                                <div *ngIf="editForm.get('description').invalid && (editForm.get('description').dirty || editForm.get('description').touched)">
                                    <small class="form-text text-danger" *ngIf="editForm.get('description').errors.required">
                                       This field is required.
                                    </small>
                                    <small class="form-text text-danger" *ngIf="editForm.get('description').errors.maxlength">
                                         This field cannot be longer than 100 characters.
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="row card-margin-bottom-10">
                            <div class="col-md-3">
                                <label class="form-control-label" for="field_flag">Flag</label>
                            </div>
                            <div class="col-md-9">
                                <select type="text" class="form-control form-control-sm custom-select custom-select-sm" name="flag" id="field_flag" formControlName="flag">
                                    <option value="Y">Active</option>
                                    <option value="N">Inactive</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button type="button" id="cancel-save" class="btn btn-sm btn-secondary btn-round" (click)="previousState()">
                            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                        </button>
                        <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-sm btn-blush btn-round">
                            <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>