<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="deliveryChallan">
            <h2><span>Delivery Challan</span> {{deliveryChallan.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Fact Code</span></dt>
                <dd>
                    <span>{{deliveryChallan.factCode}}</span>
                </dd>
                <dt><span>Fact Description</span></dt>
                <dd>
                    <span>{{deliveryChallan.factDescription}}</span>
                </dd>
                <dt><span>F Address Line 1</span></dt>
                <dd>
                    <span>{{deliveryChallan.fAddressLine1}}</span>
                </dd>
                <dt><span>F Address Line 2</span></dt>
                <dd>
                    <span>{{deliveryChallan.fAddressLine2}}</span>
                </dd>
                <dt><span>F Address Line 3</span></dt>
                <dd>
                    <span>{{deliveryChallan.fAddressLine3}}</span>
                </dd>
                <dt><span>F Address Line 4</span></dt>
                <dd>
                    <span>{{deliveryChallan.fAddressLine4}}</span>
                </dd>
                <dt><span>F Address Line 5</span></dt>
                <dd>
                    <span>{{deliveryChallan.fAddressLine5}}</span>
                </dd>
                <dt><span>Postal Code</span></dt>
                <dd>
                    <span>{{deliveryChallan.postalCode}}</span>
                </dd>
                <dt><span>Town</span></dt>
                <dd>
                    <span>{{deliveryChallan.town}}</span>
                </dd>
                <dt><span>District</span></dt>
                <dd>
                    <span>{{deliveryChallan.district}}</span>
                </dd>
                <dt><span>State Code</span></dt>
                <dd>
                    <span>{{deliveryChallan.stateCode}}</span>
                </dd>
                <dt><span>F GST Number</span></dt>
                <dd>
                    <span>{{deliveryChallan.fGSTNumber}}</span>
                </dd>
                <dt><span>B Uniqueid</span></dt>
                <dd>
                    <span>{{deliveryChallan.bUniqueid}}</span>
                </dd>
                <dt><span>B Legalname 1</span></dt>
                <dd>
                    <span>{{deliveryChallan.bLegalname1}}</span>
                </dd>
                <dt><span>B Address Line 1</span></dt>
                <dd>
                    <span>{{deliveryChallan.bAddressLine1}}</span>
                </dd>
                <dt><span>B Address Line 2</span></dt>
                <dd>
                    <span>{{deliveryChallan.bAddressLine2}}</span>
                </dd>
                <dt><span>B Address Line 3</span></dt>
                <dd>
                    <span>{{deliveryChallan.bAddressLine3}}</span>
                </dd>
                <dt><span>B Address Line 4</span></dt>
                <dd>
                    <span>{{deliveryChallan.bAddressLine4}}</span>
                </dd>
                <dt><span>B Address Line 5</span></dt>
                <dd>
                    <span>{{deliveryChallan.bAddressLine5}}</span>
                </dd>
                <dt><span>B Postal Code</span></dt>
                <dd>
                    <span>{{deliveryChallan.bPostalCode}}</span>
                </dd>
                <dt><span>B Town</span></dt>
                <dd>
                    <span>{{deliveryChallan.bTown}}</span>
                </dd>
                <dt><span>B District</span></dt>
                <dd>
                    <span>{{deliveryChallan.bDistrict}}</span>
                </dd>
                <dt><span>B State</span></dt>
                <dd>
                    <span>{{deliveryChallan.bState}}</span>
                </dd>
                <dt><span>B State Code</span></dt>
                <dd>
                    <span>{{deliveryChallan.bStateCode}}</span>
                </dd>
                <dt><span>State</span></dt>
                <dd>
                    <span>{{deliveryChallan.state}}</span>
                </dd>
                <dt><span>B GST Number</span></dt>
                <dd>
                    <span>{{deliveryChallan.bGSTNumber}}</span>
                </dd>
                <dt><span>Challan Type</span></dt>
                <dd>
                    <span>{{deliveryChallan.challanType}}</span>
                </dd>
                <dt><span>Challan Date</span></dt>
                <dd>
                    <span>{{deliveryChallan.challanDate}}</span>
                </dd>
                <dt><span>E Way Bill No</span></dt>
                <dd>
                    <span>{{deliveryChallan.eWayBillNo}}</span>
                </dd>
                <dt><span>E Way Bill Date</span></dt>
                <dd>
                    <span>{{deliveryChallan.eWayBillDate}}</span>
                </dd>
                <dt><span>Exp Return Date</span></dt>
                <dd>
                    <span>{{deliveryChallan.expReturnDate}}</span>
                </dd>
                <dt><span>Ac Return Date</span></dt>
                <dd>
                    <span>{{deliveryChallan.acReturnDate}}</span>
                </dd>
                <dt><span>Remarks</span></dt>
                <dd>
                    <span>{{deliveryChallan.remarks}}</span>
                </dd>
                <dt><span>Flag</span></dt>
                <dd>
                    <span>{{deliveryChallan.flag}}</span>
                </dd>
                <dt><span>Created By</span></dt>
                <dd>
                    <span>{{deliveryChallan.createdBy}}</span>
                </dd>
                <dt><span>Created Date</span></dt>
                <dd>
                    <span>{{deliveryChallan.createdDate}}</span>
                </dd>
                <dt><span>Last Updated By</span></dt>
                <dd>
                    <span>{{deliveryChallan.lastUpdatedBy}}</span>
                </dd>
                <dt><span>Last Updated Date</span></dt>
                <dd>
                    <span>{{deliveryChallan.lastUpdatedDate}}</span>
                </dd>
                <dt><span>Approved By</span></dt>
                <dd>
                    <span>{{deliveryChallan.approvedBy}}</span>
                </dd>
                <dt><span>Approved Date</span></dt>
                <dd>
                    <span>{{deliveryChallan.approvedDate}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/delivery-challan', deliveryChallan.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
