<div class="card">
    <div class="body">
        <div>
              <h5 id="page-heading">
                <span>Language Master</span>
                <button id="jh-create-entity" class="btn btn-sm btn-blush btn-round float-right jh-create-entity create-language-master" [routerLink]="['/language-master/new']">
                    <fa-icon [icon]="'plus'"></fa-icon>
                    <span >New</span>
                </button>
             </h5>
             <jhi-alert></jhi-alert>
             <div class="table-responsive" *ngIf="languageMasters">
                    <table class="table table-sm table-striped">
                            <thead>
                            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                            <th jhiSortBy="code"><span>Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                            <th jhiSortBy="description"><span>Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                            <th jhiSortBy="status"><span>Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                            <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let languageMaster of languageMasters ;trackBy: trackId">
                                <td><a [routerLink]="['/language-master', languageMaster.id, 'view' ]">{{languageMaster.id}}</a></td>
                                <td>{{languageMaster.code}}</td>
                                <td>{{languageMaster.description}}</td>
                                <td><ng-container *ngIf="languageMaster.status=='Y'">Active</ng-container><ng-container *ngIf="languageMaster.status=='N'">Inactive</ng-container></td>
                                <td class="text-right button-column">
                                    <div class="btn-group">
                                        <button type="submit"
                                                [routerLink]="['/language-master', languageMaster.id, 'view' ]"
                                                class="btn btn-info btn-sm">
                                            <fa-icon [icon]="'eye'"></fa-icon>
                                            <span class="d-none d-md-inline">View</span>
                                        </button>
                                        <button type="submit"
                                                [routerLink]="['/language-master', languageMaster.id, 'edit']"
                                                class="btn btn-blush btn-sm">
                                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                            <span class="d-none d-md-inline">Edit</span>
                                        </button>
                                        <button type="submit"
                                               [routerLink]="['/language-master', languageMaster.id, 'edit']"
                                                replaceUrl="true"
                                                queryParamsHandling="merge"
                                                class="btn btn-danger btn-sm">
                                            <fa-icon [icon]="'times'"></fa-icon>
                                            <span class="d-none d-md-inline">Delete</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                    </table>
             </div>
            <div *ngIf="languageMasters && languageMasters.length">
                <div class="row justify-content-center">
                    <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
                </div>
                <div class="row justify-content-center">
                    <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
                </div>
            </div>
        </div>
    </div>
</div>
