<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="trimsTemplateMaster">
            <h2><span>Trims Template Master</span> {{trimsTemplateMaster.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Accessories Code</span></dt>
                <dd>
                    <span>{{trimsTemplateMaster.accessoriesCode}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{trimsTemplateMaster.description}}</span>
                </dd>
                <dt><span>Flag</span></dt>
                <dd>
                    <span>{{trimsTemplateMaster.flag}}</span>
                </dd>
                <dt><span>Created By</span></dt>
                <dd>
                    <span>{{trimsTemplateMaster.createdBy}}</span>
                </dd>
                <dt><span>Created Date</span></dt>
                <dd>
                    <span>{{trimsTemplateMaster.createdDate}}</span>
                </dd>
                <dt><span>Last Updated By</span></dt>
                <dd>
                    <span>{{trimsTemplateMaster.lastUpdatedBy}}</span>
                </dd>
                <dt><span>Last Updated Date</span></dt>
                <dd>
                    <span>{{trimsTemplateMaster.lastUpdatedDate}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/trims-template-master', trimsTemplateMaster.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
