.level-font-15 {
  font-size: 14px;
  padding: 0 0 3px 3px !important;
}
.level-font-14 {
  font-size: 13px;
  padding: 0 0 2px 11px !important;
}
.level-font-14-span {
  margin: 0 0 0 5px !important;
}
.level-font-13 {
  font-size: 12px;
  padding: 0 0 1px 26px !important;
}
.level-font-13-span {
  margin: 0 0 0 2px !important;
}

.level-font-12 {
  font-size: 11px;
  padding: 0 0 1px 36px !important;
}
