<div class="card">
    <div class="body">
        <div>
            <h5 id="page-heading">
                <span>Comp Off Request</span>
                <button id="jh-create-entity" class="btn btn-sm btn-blush btn-round float-right jh-create-entity create-comp-off-master" [routerLink]="['/comp-off-master/new']">
                    <fa-icon [icon]="'plus'"></fa-icon>
                    <span >New</span>
                </button>
            </h5>
            <div class="table-responsive" *ngIf="compOffMasters">
                <table class="table table-striped">
                    <thead>
                    <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                        <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                        <th jhiSortBy="compOffDate"><span>Comp Off Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                        <th jhiSortBy="timeFrom"><span>Time From</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                        <th jhiSortBy="timeTo"><span>Time To</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                        <th jhiSortBy="balance"><span>Balance</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                        <th jhiSortBy="remarks"><span>Remarks</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                        <th jhiSortBy="flag"><span>Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                        <th jhiSortBy="availDate"><span>Avail Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let compOffMaster of compOffMasters ;trackBy: trackId">
                        <td>{{compOffMaster.id}}</td>
                        <td>{{compOffMaster.compOffDate | date:'dd-MM-yyyy'}}</td>
                        <td>{{compOffMaster.timeFrom}}</td>
                        <td>{{compOffMaster.timeTo}}</td>
                        <td>{{compOffMaster.balance}}</td>
                        <td>{{compOffMaster.remarks}}</td>
                        <td>
                            <ng-container *ngIf="compOffMaster.flag === 'E'">Pending</ng-container>
                            <ng-container *ngIf="compOffMaster.flag === 'A'">Approved</ng-container>
                            <ng-container *ngIf="compOffMaster.flag === 'R'">Rejected</ng-container>
                        </td>
                        <td>{{compOffMaster.availDate | date:'dd-MM-yyyy'}}</td>
                        <td class="text-right button-column">
                            <div class="btn-group">
                                <button type="submit"
                                        [routerLink]="['/comp-off-master', compOffMaster.id, 'edit']"
                                        class="btn btn-blush btn-sm">
                                    <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                    <span class="d-none d-md-inline">Edit</span>
                                </button>
                                <button type="submit"
                                        [routerLink]="['/', 'comp-off-master', { outlets: { popup: compOffMaster.id + '/delete'} }]"
                                        [disabled]="compOffMaster.flag !== 'E'"
                                        replaceUrl="true"
                                        queryParamsHandling="merge"
                                        class="btn btn-danger btn-sm">
                                    <fa-icon [icon]="'times'"></fa-icon>
                                    <span class="d-none d-md-inline">Delete</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf="compOffMasters && compOffMasters.length">
                <div class="row justify-content-center">
                    <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
                </div>
                <div class="row justify-content-center">
                    <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
                </div>
            </div>
        </div>
    </div>
</div>
