<div class="card">
    <div class="body">
        <h5 id="jhi-country-heading">Create or edit a Costing Group Details</h5>
        <hr/>
        <div class="row">
            <div class="col-8">
                <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
                    <div>
                        <div class="row card-margin-bottom-5" [hidden]="!editForm.get('id').value">
                            <div class="col-md-3">
                                <label for="id">ID</label>
                            </div>
                            <div class="col-md-5">
                                 <input type="text"class="form-control form-control-sm" id="id" name="id" formControlName="id" readonly />
                            </div>
                        </div>
                        <div class="row card-margin-bottom-5">
                            <div class="col-md-3">
                                <label class="form-control-label" for="field_code">Code</label>
                            </div>
                            <div class="col-md-5">
                                <input type="text" class="form-control text-uppercase form-control-sm" name="code" id="field_code"  formControlName="code"/>
                                <div *ngIf="editForm.get('code').invalid && (editForm.get('code').dirty || editForm.get('code').touched)">
                                    <small class="form-text text-danger" *ngIf="editForm.get('code').errors.required">
                                        This field is required.
                                    </small>
                                    <small class="form-text text-danger" *ngIf="editForm.get('code').errors.maxlength">
                                        This field cannot be longer than 10 characters.
                                    </small>
                                </div>
                            </div>
                       </div>
                       <div class="row card-margin-bottom-5">
                            <div class="col-md-3">
                                <label class="form-control-label" for="field_description">Description</label>
                            </div>
                            <div class="col-md-5">
                                <input type="text" class="form-control text-uppercase form-control-sm" name="description" id="field_description"  formControlName="description"/>
                                <div *ngIf="editForm.get('description').invalid && (editForm.get('description').dirty || editForm.get('description').touched)">
                                    <small class="form-text text-danger" *ngIf="editForm.get('code').errors.required">
                                        This field is required.
                                      </small>
                                    <small class="form-text text-danger" *ngIf="editForm.get('description').errors.maxlength">
                                        This field cannot be longer than 100 characters.
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="row card-margin-bottom-5">
                            <div class="col-md-3">
                                <label class="form-control-label" for="field_costingGroupMaster">Costing Group</label>
                            </div>
                            <div class="col-md-5">
                                <select  type="text" class="form-control form-control-sm custom-select custom-select-sm" id="field_costingGroupMaster" name="costingGroupMaster" formControlName="costingGroupMaster">
                                    <option [ngValue]="null"></option>
                                    <option [ngValue]="costingGroupMasterOption.id === editForm.get('costingGroupMaster').value?.id ? editForm.get('costingGroupMaster').value : costingGroupMasterOption" *ngFor="let costingGroupMasterOption of costinggroupmasters; trackBy: trackCostingGroupMasterById">{{costingGroupMasterOption.description}}</option>
                                </select>
                                <div *ngIf="editForm.get('costingGroupMaster').invalid && (editForm.get('costingGroupMaster').dirty || editForm.get('costingGroupMaster').touched)">
                                      <small class="form-text text-danger" *ngIf="editForm.get('costingGroupMaster').errors.required">
                                        This field is required.
                                      </small>
                                </div>
                            </div>
                      </div>
                        <div class="row card-margin-bottom-5">
                            <div class="col-md-3">
                                <label class="form-control-label" for="field_valueType">Value Type</label>
                            </div>
                            <div class="col-md-5">
                                <select type="text" class="form-control form-control-sm custom-select custom-select-sm" name="flag" id="field_flag" formControlName="valueType">
                                    <option [ngValue]="null">Select</option>
                                    <option value="MA">Master</option>
                                    <option value="TP">Typed</option>
                                </select>
                                <div *ngIf="editForm.get('valueType').invalid && (editForm.get('valueType').dirty || editForm.get('valueType').touched)">
                                    <small class="form-text text-danger" *ngIf="editForm.get('valueType').errors.required">
                                       This field is required.
                                    </small>
                                    <small class="form-text text-danger" *ngIf="editForm.get('valueType').errors.maxlength">
                                       This field cannot be longer than 4 characters.
                                    </small>
                                </div>
                            </div>
                      </div>
                      <div class="row card-margin-bottom-5">
                        <div class="col-md-3">
                            <label class="form-control-label" for="field_masterType">Master Type</label>
                        </div>
                        <div class="col-md-5">
                            <input type="text" class="form-control text-uppercase form-control-sm" name="masterType" id="field_masterType" formControlName="masterType"/>
                            <div *ngIf="editForm.get('masterType').invalid && (editForm.get('masterType').dirty || editForm.get('masterType').touched)">
                                <small class="form-text text-danger" *ngIf="editForm.get('masterType').errors.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>
                     </div>
                     <div class="row card-margin-bottom-5">
                        <div class="col-md-3">
                            <label class="form-control-label" for="field_ugcType">Ugc Type</label>
                        </div>
                        <div class="col-md-5">
                            <input type="text"class="form-control text-uppercase form-control-sm" name="ugcType" id="field_ugcType" formControlName="ugcType"/>
                            <div *ngIf="editForm.get('ugcType').invalid && (editForm.get('ugcType').dirty || editForm.get('ugcType').touched)">
                                <small class="form-text text-danger" *ngIf="editForm.get('ugcType').errors.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>
                     </div>
                  </div>
                    <div>
                        <button type="button" id="cancel-save" class="btn btn-sm btn-secondary btn-round"  (click)="previousState()">
                            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                        </button>
                        <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-sm btn-blush btn-round">
                            <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                        </button>
                  </div>
                </form>
            </div>
        </div>
    </div>
</div>
