<div class="card">
    <div class="body">
        <div>
            <h5 id="page-heading">
                <span>Travel Entry</span>
                <button id="jh-create-entity" class="btn btn-sm btn-blush btn-round float-right jh-create-entity create-travel-application-master" [routerLink]="['/travel-application-master/new']">
                    <fa-icon [icon]="'plus'"></fa-icon>
                    <span>New</span>
                </button>
            </h5>
            <div class="table-responsive">
                <table class="table table-sm table-striped" aria-describedby="page-heading">
                    <thead>
                    <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                        <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                        <th jhiSortBy="travelDestination"><span>Travel Destination</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                            <th jhiSortBy="travelDays"><span>Date From</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                        <th jhiSortBy="travelDays"><span>Date To</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                        <th jhiSortBy="travelPurpose"><span>Travel Purpose</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                        <th jhiSortBy="flag"><span>Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let travelApplicationMaster of travelApplicationMasters ;trackBy: trackId">
                        <td>{{travelApplicationMaster.id}}</td>
                        <td>{{travelApplicationMaster.travelDestination}}</td>
                        <td>{{travelApplicationMaster.travelFromdate | date: 'dd-MM-yyyy'}}</td>
                        <td>{{travelApplicationMaster.travelTodate | date: 'dd-MM-yyyy'}}</td>
                        <td>{{travelApplicationMaster.travelPurpose}}</td>
                        <td>
                            <ng-container *ngIf="travelApplicationMaster.status==='E'">Entry</ng-container>
                            <ng-container *ngIf="travelApplicationMaster.status==='A'">Approved By HOD</ng-container>
                        </td>
                        <td class="text-right button-column">
                            <div class="btn-group">
                                <button type="submit"
                                        [routerLink]="['/travel-application-master', travelApplicationMaster.id, 'edit']"
                                        class="btn btn-blush btn-sm">
                                    <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                    <span class="d-none d-md-inline">Edit</span>
                                </button>
                                <button type="submit"
                                        [routerLink]="['/travel-application-master', { outlets: { popup: travelApplicationMaster.id + '/delete'} }]"
                                        replaceUrl="true"
                                        queryParamsHandling="merge"
                                        class="btn btn-danger btn-sm" [disabled]="travelApplicationMaster.status !== 'E'">
                                    <fa-icon [icon]="'times'"></fa-icon>
                                    <span class="d-none d-md-inline">Delete</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div [hidden]="travelApplicationMasters?.length === 0">
                <div class="row justify-content-center">
                    <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
                </div>
                <div class="row justify-content-center">
                    <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
                </div>
            </div>
        </div>
    </div>
</div>
