<div class="page-header block-background">
    <div class="page-header-image"></div>
    <div class="container">
        <div class="col-md-12 content-center">
            <div class="card-plain">
                <form class="form" role="form" (ngSubmit)="login()">
                    <div class="header">
                        <!--div class="logo-container">
                            <img src="../../content/images/logo_cdass.png" alt="" style="width:150px;">
                        </div-->
                        <h2><img src="../../content/images/pulse_transparent.png" width="275" height="70" style="border-radius: 20px;"/></h2>
                        <h5>Log in</h5>
                    </div>
                    <div class="content">
                        <div class="input-group">
                            <input type="text" class="form-control form-control-lg text-white" placeholder="Enter User Name" name="username" id="username" [(ngModel)]="username">
                            <span class="input-group-addon" style="border-bottom-left-radius: 0; border-top-left-radius: 0; padding: 14px 18px 0 0;">
                                    <i class="zmdi zmdi-account-circle"></i>
                                </span>
                        </div>
                        <div class="input-group">
                            <input type="password" placeholder="Password" class="form-control form-control-lg text-white" name="password" id="password" [(ngModel)]="password"/>
                            <span class="input-group-addon" style="border-bottom-left-radius: 0; border-top-left-radius: 0; padding: 14px 18px 0 0;">
                                    <i class="zmdi zmdi-lock"></i>
                                </span>
                        </div>
                        <!--div class="input-group">
                            <input type="text" placeholder="Mobile" class="form-control form-control-lg text-white" name="mobile" id="mobile" [(ngModel)]="mobile"/>
                            <span class="input-group-addon" style="border-bottom-left-radius: 0; border-top-left-radius: 0; padding: 14px 18px 0 0;">
                                    <i class="zmdi zmdi-smartphone-iphone"></i>
                            </span>
                        </div-->
                        <div class="form-check">
                            <label class="form-check-label" for="rememberMe">
                                <input class="form-check-input" type="checkbox" name="rememberMe" id="rememberMe" [(ngModel)]="rememberMe" checked>
                                <span>Remember me</span>
                            </label>
                        </div>
                    </div>
                    <div class="login-footer text-center">
                        <button type="submit" class="btn btn-transparent btn-round btn-deep-orange btn-lg btn-block">Sign In</button>
                        <h5><a routerLink="/account/reset/request" class="link">Forgot Password?</a>&nbsp;|&nbsp;<a routerLink="/account/register" class="link">New Registration</a></h5>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="copyright-body">
        <div class="row">
            <div class="col-md-12">
                <img src="../../content/images/logo.png" alt="" width="40" height="40"/>&nbsp;&nbsp;&nbsp;
                <span class="text">Copyright@2019 Vamani Overseas Pvt Ltd</span>
            </div>
        </div>
    </div>
</div>
<ng-snotify></ng-snotify>
