<div class="card">
    <div class="body">
        <div>
            <h5 id="page-heading">
                <span>News Details</span>
                <button id="jh-create-entity"
                    class="btn btn-sm btn-round btn-blush float-right jh-create-entity create-news-details"
                    [routerLink]="['/news-details/new']" *ngIf="!type">
                    <fa-icon [icon]="'plus'"></fa-icon>
                    <span>New</span>
                </button>
            </h5>
            <jhi-alert></jhi-alert>
            <br />
            <div class="table-responsive" *ngIf="newsDetails">
                <table class="table table-striped">
                    <thead>
                        <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse"
                            [callback]="transition.bind(this)">
                            <th jhiSortBy="id"><span>ID</span>
                                <fa-icon [icon]="'sort'"></fa-icon>
                            </th>
                            <th jhiSortBy="newsTitle"><span>News&nbsp;Title</span>
                                <fa-icon [icon]="'sort'"></fa-icon>
                            </th>
                            <th jhiSortBy="endDate"><span>End Date</span>
                                <fa-icon [icon]="'sort'"></fa-icon>
                            </th>
                            <th jhiSortBy="flag"><span>Flag</span>
                                <fa-icon [icon]="'sort'"></fa-icon>
                            </th>
                            <th jhiSortBy="createdBy"><span>Created By</span>
                                <fa-icon [icon]="'sort'"></fa-icon>
                            </th>
                            <th jhiSortBy="createdDate"><span>Created Date</span>
                                <fa-icon [icon]="'sort'"></fa-icon>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let newsDetails of newsDetails ;trackBy: trackId">
                            <td>{{newsDetails.id}}</td>
                            <td>{{newsDetails.newsTitle}}</td>
                            <td>{{newsDetails.endDate | date:'dd-MM-yy'}}</td>
                            <td>
                                <ng-container *ngIf="newsDetails.flag==='E'">Entry</ng-container>
                                <ng-container *ngIf="newsDetails.flag==='A'">Approved</ng-container>
                            </td>
                            <td>{{newsDetails.createdBy}}</td>
                            <td>{{newsDetails.createdDate | date:'dd-MM-yy hh:mm'}}</td>
                            <td class="text-right button-column">
                                <div class="btn-group flex-btn-group-container">
                                    <button *ngIf="type==='A'" type="submit"
                                        [routerLink]="['/news-details-approval/A', newsDetails.id, 'view' ]"
                                        class="btn btn-info btn-sm">
                                        <fa-icon [icon]="'eye'"></fa-icon>
                                        <span class="d-none d-md-inline">View</span>
                                    </button>
                                    <button type="button" id="previewByID" (click)="shortCloseById(newsDetails);" class="btn btn-sm btn-info">
                                            <fa-icon [icon]="'times'"></fa-icon>&nbsp;<span>Short Close</span>
                                        </button>
                                    <button *ngIf="!type" type="submit"
                                        [routerLink]="['/news-details', newsDetails.id, 'edit']"
                                        class="btn btn-success btn-sm">
                                        <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                        <span class="d-none d-md-inline">Edit</span>
                                    </button>
                                    <button *ngIf="!type" [disabled]="newsDetails.flag=='A'" type="submit"
                                        [routerLink]="['/', 'news-details', { outlets: { popup: newsDetails.id + '/delete'} }]"
                                        replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm">
                                        <fa-icon [icon]="'times'"></fa-icon>
                                        <span class="d-none d-md-inline">Delete</span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf="newsDetails && newsDetails.length">
                <div class="row justify-content-center">
                    <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage">
                    </jhi-item-count>
                </div>
                <div class="row justify-content-center">
                    <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage"
                        [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)">
                    </ngb-pagination>
                </div>
            </div>
        </div>
    </div>
</div>
