<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="followupBuyer">
            <h2><span>Followup Buyer</span> {{followupBuyer.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Buyercode</span></dt>
                <dd>
                    <span>{{followupBuyer.buyercode}}</span>
                </dd>
                <dt><span>Buyername</span></dt>
                <dd>
                    <span>{{followupBuyer.buyername}}</span>
                </dd>
                <dt><span>Flag</span></dt>
                <dd>
                    <span>{{followupBuyer.flag}}</span>
                </dd>
                <dt><span>Createdby</span></dt>
                <dd>
                    <span>{{followupBuyer.createdby}}</span>
                </dd>
                <dt><span>Createddate</span></dt>
                <dd>
                    <span>{{followupBuyer.createddate}}</span>
                </dd>
                <dt><span>Updatedby</span></dt>
                <dd>
                    <span>{{followupBuyer.updatedby}}</span>
                </dd>
                <dt><span>Updateddate</span></dt>
                <dd>
                    <span>{{followupBuyer.updateddate}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/followup-buyer', followupBuyer.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
