<div class="card">
        <div class="body">
                <h5><span>Asset Company Master</span> {{assetCompanyMaster.id}}</h5>
            <hr>
            <div class="row">
                <div class="col-8">
                    <div *ngIf="assetCompanyMaster">
                        <div class="row">
                            <div class="col-md-3"><dt><span>Code</span></dt></div>
                            <div class="col-md-9">
                                <dd><span>{{assetCompanyMaster.code}}</span></dd>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3"><dt><span>Description</span></dt></div>
                            <div class="col-md-9">
                                 <dd><span>{{assetCompanyMaster.description}}</span></dd>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3"><dt><span>Flag</span></dt></div>
                            <div class="col-md-9">
                                <dd>
                                    <span *ngIf="assetCompanyMaster.flag=='Y'">Active</span>
                                    <span *ngIf="assetCompanyMaster.flag=='N'">Inactive</span>
                                </dd>
                            </div>
                        </div>
                            <button type="submit"
                                    (click)="previousState()"
                                    class="btn btn-sm btn-info btn-round">
                                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
                            </button>
    
                            <button type="button"
                            [routerLink]="['/asset-company-master', assetCompanyMaster.id, 'edit']"
                                    class="btn btn-sm btn-blush btn-round">
                                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
                            </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
