<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-travel-luggage-details-heading">Create or edit a Travel Luggage Details</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_luggageCount">Luggage Count</label>
                    <input type="number" class="form-control" name="luggageCount" id="field_luggageCount"
                           formControlName="luggageCount"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_luggageType">Luggage Type</label>
                    <input type="text" class="form-control" name="luggageType" id="field_luggageType"
                           formControlName="luggageType"/>
                    <div *ngIf="editForm.get('luggageType').invalid && (editForm.get('luggageType').dirty || editForm.get('luggageType').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('luggageType').errors.maxlength">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_approxWeight">Approx Weight</label>
                    <input type="number" class="form-control" name="approxWeight" id="field_approxWeight"
                           formControlName="approxWeight"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_extraLuggageReq">Extra Luggage Req</label>
                    <input type="checkbox" class="form-control" name="extraLuggageReq" id="field_extraLuggageReq"
                           formControlName="extraLuggageReq"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_createdBy">Created By</label>
                    <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                           formControlName="createdBy"/>
                    <div *ngIf="editForm.get('createdBy').invalid && (editForm.get('createdBy').dirty || editForm.get('createdBy').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('createdBy').errors.maxlength">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_createdDate">Created Date</label>
                    <div class="d-flex">
                        <input id="field_createdDate" type="datetime-local" class="form-control" name="createdDate" formControlName="createdDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_lastUpdatedBy">Last Updated By</label>
                    <input type="text" class="form-control" name="lastUpdatedBy" id="field_lastUpdatedBy"
                           formControlName="lastUpdatedBy"/>
                    <div *ngIf="editForm.get('lastUpdatedBy').invalid && (editForm.get('lastUpdatedBy').dirty || editForm.get('lastUpdatedBy').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('lastUpdatedBy').errors.maxlength">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_lastUpdatedDate">Last Updated Date</label>
                    <div class="d-flex">
                        <input id="field_lastUpdatedDate" type="datetime-local" class="form-control" name="lastUpdatedDate" formControlName="lastUpdatedDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_travelApplicationMaster">Travel Application Master</label>
                    <select class="form-control" id="field_travelApplicationMaster" name="travelApplicationMaster" formControlName="travelApplicationMaster">
                        <option *ngIf="!editForm.get('travelApplicationMaster').value" [ngValue]="null" selected></option>
                        <option [ngValue]="travelApplicationMasterOption.id === editForm.get('travelApplicationMaster').value?.id ? editForm.get('travelApplicationMaster').value : travelApplicationMasterOption" *ngFor="let travelApplicationMasterOption of travelapplicationmasters; trackBy: trackTravelApplicationMasterById">{{travelApplicationMasterOption.id}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('travelApplicationMaster').invalid && (editForm.get('travelApplicationMaster').dirty || editForm.get('travelApplicationMaster').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('travelApplicationMaster').errors.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
