<div align="center" class="centered" *ngIf="isDownload">
    <fa-icon [icon]="'sync-alt'" spin style="font-size: 100px;" class="fa fa-spin animated-active"></fa-icon>
</div>
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6">
                <h6 id="page-heading">
                    <span>Payment Request Forward</span>
                </h6>
            </div>
            <div class="col-md-6 text-right">
                <button id="jh-create-entity"
                        class="btn btn-xs btn-blush btn-round float-right jh-create-entity create-payment-request-form m-0"
                        [routerLink]="['/payment-request-forward/new']">
                    <fa-icon [icon]="'plus'"></fa-icon>
                    <span>New&nbsp;</span>
                </button>
            </div>
        </div>
    </div>
    <div class="card-footer body py-2 bg-white">
        <div class="row">
            <div class="col-md-2">
                <input type="text" class="form-control form-control-xs" name="empCode" id="field_entryId"
                       placeholder="Enter Employee" [(ngModel)]="search.code"/>
            </div>

            <div class="col-md-2">
                <input type="text" class="form-control form-control-xs" name="forwardCode" id="field_forwardCode"
                       placeholder="Enter Forward Employee" [(ngModel)]="search.description"/>
            </div>
            <div class="col-md-1 text-right">
                <button class="btn btn-xs btn-round btn-success m-0" type="button" (click)="loadPage();">
                    <fa-icon [icon]="'search'"></fa-icon>
                    <span>Search</span>
                </button>
            </div>
        </div>
    </div>
    <div class="card-body body py-0">
        <div class="table-responsive">
            <table class="table table-sm table-striped">
                <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col" jhiSortBy="id"><span>ID</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="empCode"><span>Employee</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="flag"><span>Flag</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="forwardCode"><span>Forward Employee</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let paymentRequestForward of paymentRequestForwards;" data-cy="entityTable">
                    <td>{{ paymentRequestForward.id }}</td>
                    <td>{{ paymentRequestForward.empCode + "-" + paymentRequestForward.empName}}</td>
                    <td>{{ paymentRequestForward.flag === 'F' ? 'FORWARD' : paymentRequestForward.flag === 'A' ? 'APPROVED' : 'REJECTED' }}</td>
                    <td>{{ paymentRequestForward.forwardCode + "-" + paymentRequestForward.forwardName }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/payment-request-forward', paymentRequestForward.id, 'edit']"
                                    class="btn btn-xs btn-blush btn-sm" data-cy="entityEditButton">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(paymentRequestForward)" class="btn btn-xs btn-danger btn-sm"
                                    data-cy="entityDeleteButton">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="alert alert-warning" id="no-result" *ngIf="paymentRequestForwards?.length === 0">
            <span>No data found</span>
        </div>
        <div *ngIf="paymentRequestForwards?.length > 0">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>

            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage"
                                [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                                (pageChange)="loadPage($event)"></ngb-pagination>
            </div>
        </div>
    </div>
</div>
