<div class="card">
    <div class="body">
        <div class="row justify-content-center">
            <div class="col-12">
                <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
                    <h5 id="jhi-poll-master-heading">Create or edit a Poll Master</h5>
                    <div>
                        <jhi-alert-error></jhi-alert-error>
                        <div class="row md-bottom-5" [hidden]="!pollMaster.id">
                            <div class="col-md-3"><label for="id">ID</label></div>
                            <div class="col-md-9"><input type="text" class="form-control form-control-sm" id="id" name="id" [(ngModel)]="pollMaster.id" readonly /></div>
                        </div>
                        <div class="row">
                            <div class="col-md-3"><label>Factory</label></div>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <div class="row" style="margin-right:15px;">
                                        <div class="col-md-12 table-bordered" style="margin-left: 15px;">
                                            <div class="row" [formGroup]="listBoxForm">
                                                <div class="col-md-5 col-lg-5 col-sm-12">
                                                    <label class="text-center vertical-spacing-5">{{availableText}}</label>
                                                    <input type="text" class="form-control form-control-sm vertical-spacing-5" placeholder="{{availableFilterPlaceholder}}"
                                                           formControlName="availableSearchInput" />
                                                    <select class="form-control form-control-sm list-box" formControlName="availableListBox" multiple style="height: 150px;">
                                                        <option *ngFor="let item of availableItems | arrayFilter:['name', searchTermAvailable] | arraySort:['name', 'ASC']; trackBy:trackByValue" [value]="item?.id" (dblclick)="moveAvailableItemToSelected(item)">{{item?.factoryName}}</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-2 col-lg-2 col-sm-12 center-block text-center">
                                                    <button type="button" class="btn btn-sm btn-blush col-md-8 col-md-offset-2 atr top80 sm-spacing" *ngIf="moveAllButton" (click)="moveAllItemsToSelected()">
                                                        <fa-icon [icon]="'angle-double-right'"></fa-icon>
                                                    </button>
                                                    <button type="button" class="btn btn-sm btn-blush col-md-8 col-md-offset-2 str vertical-spacing-5 sm-spacing" [disabled]="!availableListBoxControl.value?.length" (click)="moveMarkedAvailableItemsToSelected()">
                                                        <fa-icon [icon]="'chevron-right'"></fa-icon>
                                                    </button>
                                                    <button type="button" class="btn btn-sm btn-blush col-md-8 col-md-offset-2 stl vertical-spacing-5 sm-spacing" [disabled]="!selectedListBoxControl.value?.length" (click)="moveMarkedSelectedItemsToAvailable()">
                                                        <fa-icon [icon]="'chevron-left'"></fa-icon>
                                                    </button>
                                                    <button type="button" class="btn btn-sm btn-blush col-md-8 col-md-offset-2 atl bottom10 sm-spacing" *ngIf="moveAllButton" (click)="moveAllItemsToAvailable()">
                                                        <fa-icon [icon]="'angle-double-left'"></fa-icon>
                                                    </button>
                                                </div>
                                                <div class="col-md-5 col-lg-5 col-sm-12">
                                                    <label class="text-center vertical-spacing-5">{{selectedText}}</label>
                                                    <input type="text" class="form-control form-control-sm vertical-spacing-5" placeholder="{{selectedFilterPlaceholder}}"
                                                           formControlName="selectedSearchInput" />
                                                    <select class="form-control form-control-sm list-box" multiple style="height: 150px;" formControlName="selectedListBox">
                                                        <option *ngFor="let item of selectedItems | arrayFilter:['name', searchTermSelected] | arraySort:['name', 'ASC'];trackBy:trackByValue" [value]="item?.id" (dblclick)="moveSelectedItemToAvailable(item)">{{item?.factoryName}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row md-bottom-5">
                            <div class="col-md-3"><label class="form-control-label" for="field_pollText">Poll Question</label></div>
                            <div class="col-md-9">
                                <textarea class="form-control form-control-sm" name="pollText" id="field_pollText" [(ngModel)]="pollMaster.pollText" required maxlength="2000" style="height: 100px;"></textarea>
                                <div [hidden]="!(editForm.controls.pollText?.dirty && editForm.controls.pollText?.invalid)">
                                    <small class="form-text text-danger"
                                           [hidden]="!editForm.controls.pollText?.errors?.required">
                                        This field is required.
                                    </small>
                                    <small class="form-text text-danger"
                                           [hidden]="!editForm.controls.pollText?.errors?.maxlength">
                                        This field cannot be longer than 2000 characters.
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="row md-bottom-5">
                            <div class="col-md-3"><label class="form-control-label" for="field_pollText">Poll Options</label></div>
                            <div class="col-md-8">
                                <div class="row" *ngIf="pollMaster.pollDetails">
                                    <div class="col-md-6" *ngFor="let pollDetail of pollMaster.pollDetails; let index = index">
                                        <div class="input-group">
                                            <input type="text" class="form-control form-control-sm vertical-spacing-5" name="pollOption_{{index}}" id="pollOption_{{index}}" [(ngModel)]="pollDetail.pollOption" required/>
                                            <div class="input-group-append">
                                                <button type="button" class="btn btn-sm btn-blush" (click)="removeOption(pollDetail.index);"><fa-icon [icon]="'ban'"></fa-icon></button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <button type="button" class="btn btn-blush btn-sm" (click)="addOptions();"><fa-icon [icon]="'plus'">Add</fa-icon></button>
                            </div>
                        </div>
                        <div class="row" [hidden]="true">
                            <div class="col-md-3"></div>
                            <div class="col-md-2">
                                <div class="input-group">
                                    <label class="form-control-label" for="field_mailFlag">Mail&nbsp;Flag</label>
                                    <div class="input-group-append" style="margin-top: 5px;">
                                        &nbsp;&nbsp;&nbsp;<input type="checkbox" name="mailFlag" id="field_mailFlag" [(ngModel)]="pollMaster.mailFlag" />
                                    </div>
                                </div>
                                <div [hidden]="!(editForm.controls.mailFlag?.dirty && editForm.controls.mailFlag?.invalid)">
                                    <small class="form-text text-danger"
                                           [hidden]="!editForm.controls.mailFlag?.errors?.required">
                                        This field is required.
                                    </small>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="input-group">
                                    <label class="form-control-label" for="field_notificationFlag">Notification&nbsp;Flag&nbsp;</label>
                                    <div class="input-group-append" style="margin-top: 5px;">
                                        &nbsp;&nbsp;&nbsp;<input type="checkbox" name="notificationFlag" id="field_notificationFlag"
                                                                 [(ngModel)]="pollMaster.notificationFlag" />
                                    </div>
                                </div>
                                <div [hidden]="!(editForm.controls.notificationFlag?.dirty && editForm.controls.notificationFlag?.invalid)">
                                    <small class="form-text text-danger"
                                           [hidden]="!editForm.controls.notificationFlag?.errors?.required">
                                        This field is required.
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <button type="button" id="cancel-save" class="btn btn-sm btn-secondary btn-round"  (click)="previousState()">
                                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                                </button>
                                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving || pollMaster.approvedDate" class="btn btn-sm btn-blush btn-round">
                                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                                </button>
                                <button type="button" id="publish-entity" (click)="publish();" [disabled]="!pollMaster.id || pollMaster.approvedBy" class="btn btn-sm btn-warning btn-round">
                                    <fa-icon [icon]="'download'"></fa-icon>&nbsp;<span>Publish</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<ng-snotify></ng-snotify>
