<div class="card">
    <div class="body">
        <h5><span>Yarn Type Master</span> {{yarnTypeMaster.id}}</h5>
        <hr>
        <div class="row">
            <div class="col-8">
                <div *ngIf="yarnTypeMaster">
                    <div class="row">
                        <div class="col-md-3">
                            <dt><span>Code</span></dt>
                        </div>
                        <div class="col-md-9">
                            <dd> <span>{{yarnTypeMaster.code}}</span></dd>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <dt><span>Description</span></dt>
                        </div>
                        <div class="col-md-9">
                            <dd> <span>{{yarnTypeMaster.description}}</span></dd>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <dt><span>Flag</span></dt>
                        </div>
                        <div class="col-md-9">
                            <dd><span>
                                    <ng-container *ngIf="yarnTypeMaster.flag=='Y'">Active</ng-container>
                                    <ng-container *ngIf="yarnTypeMaster.flag=='N'">Inactive</ng-container>
                                </span></dd>
                        </div>
                    </div>
                    <button type="submit" (click)="previousState()" class="btn btn-sm btn-info btn-round">
                        <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
                    </button>
                    <button type="button" [routerLink]="['/yarn-type-master', yarnTypeMaster.id, 'edit']"
                        class="btn btn-sm btn-blush btn-round">
                        <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>