<div class="page-header block-background">
    <div class="page-header-image"></div>
    <div class="container">
        <div class="col-md-12 content-center">
            <div class="card-plain">
                <div class="header">
                    <!--div class="logo-container">
                        <img src="../../content/images/logo_cdass.png" alt="" style="width:150px;">
                    </div-->
                    <h2><img src="../../../../content/images/pulse_transparent.png" width="275" height="70" style="border-radius: 20px;"/></h2>
                    <h5>Reset Password</h5>
                </div>
                <div class="content register">
                    <div class="input-group">
                        <input type="text" class="form-control form-control-lg text-white" placeholder="Enter Employee Code" name="empCode" id="empCode" [(ngModel)]="cardNo" (blur)="callDetails();" (keyup.enter)="callDetails();">
                        <span class="input-group-addon" style="border-bottom-left-radius: 0; border-top-left-radius: 0; padding: 14px 18px 0 0;">
                                    <i class="zmdi zmdi-account-circle"></i>
                                </span>
                    </div>
                    <div class="input-group">
                        <input type="text" placeholder="Name" class="form-control form-control-lg text-white" name="name" id="name" [(ngModel)]="name" readonly/>
                        <span class="input-group-addon" style="border-bottom-left-radius: 0; border-top-left-radius: 0; padding: 14px 18px 0 0;">
                                <i class="zmdi zmdi-face"></i>
                            </span>
                    </div>
                    <div class="input-group" *ngIf="mobileNumber1">
                        <input type="text" class="form-control form-control-lg text-white" name="mobileNumber1" id="mobileNumber1" [(ngModel)]="mobileNumber1" readonly/>
                        <input type="text" class="form-control form-control-lg text-white" name="mobileNumber2" id="mobileNumber2" [(ngModel)]="mobileNumber2" [textMask]="{mask: maskMobile, guide: true, modelClean: false}" style="width:50px;" placeholder="last 3 digits"/>
                        <span class="input-group-addon" style="border-bottom-left-radius: 0; border-top-left-radius: 0; padding: 14px 18px 0 0;">
                                <i class="zmdi zmdi-account-box-phone"></i>
                            </span>
                    </div>
                </div>
                <div class="login-footer text-center">
                    <button type="button" class="btn btn-transparent btn-round btn-deep-orange btn-lg btn-block" [disabled]="!mobileNumber1 || !mobileNumber2 || (mobileNumber2 && mobileNumber2.replace('_', '').length<5)  || isSaving" (click)="requestReset();">Reset</button>
                    <h5><a routerLink="/" class="link">Already Registered</a>&nbsp;|&nbsp;<a routerLink="/account/register" class="link">New Registration</a></h5>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-body">
        <div class="row">
            <div class="col-md-12">
                <img src="../../../../content/images/logo.png" alt="" width="40" height="40"/>&nbsp;&nbsp;&nbsp;
                <span class="text">Copyright@2019 Vamani Overseas Pvt Ltd</span>
            </div>
        </div>
    </div>
</div>
<ng-snotify></ng-snotify>
