<div class="card">
    <div class="card-header">
        <h6 id="page-heading">
            <span>Bundling</span>
            <button id="jh-create-entity"
                    class="btn btn-sm btn-xs btn-blush btn-round float-right jh-create-entity create-cut-plan-entry m-0"
                    [routerLink]="['/cut-plan-bundle/new']">
                <fa-icon [icon]="'plus'"></fa-icon>
                <span>New</span>&nbsp;
            </button>
        </h6>
    </div>
    <div class="card-footer body py-2 bg-white">
        <div class="row">
            <div class="col-md-1 font-weight-bold">
                PO#
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control form-control-xs text-uppercase" name="pono" id="field_pono" placeholder="Enter PO#" [(ngModel)]="search.pono"/>
            </div>
            <div class="col-md-1 font-weight-bold">
                Style#
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control form-control-xs text-uppercase" name="style" id="field_style" placeholder="Enter Style#" [(ngModel)]="search.style"/>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-2 text-right">
                <button class="btn btn-sm btn-xs btn-round btn-success m-0" type="button" (click)="loadPage();">
                    <fa-icon [icon]="'search'"></fa-icon> <span>Search</span>&nbsp;
                </button>
            </div>
        </div>
    </div>
    <div class="card-body body p-0">
        <div class="table-responsive">
            <table class="table table-sm table-striped">
                <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th jhiSortBy="production_code"><span>PO#</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="plant_code"><span>Plant#</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="style"><span>Project</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="color"><span>Color</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="destination_desc"><span>Destination</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th><span>Status</span></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <ng-container *ngIf="cutPlanEntries">
                    <tr *ngFor="let cutPlanEntry of cutPlanEntries ;trackBy: trackId">
                        <td>{{cutPlanEntry.productionCode}}</td>
                        <td>{{cutPlanEntry.plantCode}}</td>
                        <td>{{cutPlanEntry.style}}</td>
                        <td>{{cutPlanEntry.color}}</td>
                        <td>{{cutPlanEntry.destinationDesc}}</td>
                        <td>{{cutPlanEntry.status}}</td>
                        <td class="text-right">
                            <div class="btn-group">
                                <button type="button" (click)="fetchView(cutPlanEntry);" class="btn btn-blush btn-sm btn-xs m-0">
                                    <fa-icon icon="pencil-alt"></fa-icon>
                                    <span class="d-none d-md-inline">Edit</span>&nbsp;
                                </button>
                            </div>
                        </td>
                    </tr>
                </ng-container>
                </tbody>
            </table>
        </div>
        <div class="alert alert-warning" id="no-result" *ngIf="cutPlanEntries?.length === 0">
            <span>No data found</span>
        </div>
        <div *ngIf="cutPlanEntries?.length > 0">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage"
                                [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)">
                </ngb-pagination>
            </div>
        </div>
    </div>
</div>
<ng-snotify></ng-snotify>
